{% if is_preview %}
<div class="preview" data-block-name="sebo">
<style>
    .preview-wrapper {
        background-color:#1c2a36;
    }
    .dynamic-hero {
        min-height:30vh;
    }
    img {
        max-width: 100%;
    }
    .block-editor-inner-blocks {
        border:2px solid rgba(30, 162, 224, 0.5);
    }
</style>
{% endif %}
<script src="https://unpkg.com/flickity@2.2.2/dist/flickity.pkgd.min.js"></script>
<style>{% htmlcompress %}{{compiled_css}}{{fields.custom_scripts.css}}{% endhtmlcompress %}</style>
<section class="block css2" data-block-name="css2" style="--bg-color:{{fields.background_color}};--h-color:{{fields.heading_color}};">
    <div class="container css2-inner">
        <div class="css2-content-ctnr">
            <div class="css2-heading">
                <h2>{{fields.title}}</h2>
            </div>
            <div class="css2-content">
                <p>{{fields.content}}</p>
            </div>
        </div>
        <div class="css2-slider hide-desktop" data-flickity='{ "groupCells": 1, "wrapAround": true, "arrowShape": "M 0,50 L 60,00 L 50,30 L 80,30 L 80,70 L 50,70 L 60,100 Z" }'>
        {% for i in 0..5 %}
            <div class="css2-slide">
                <div class="css2-shape-two"></div>
                <div class="css2-slide-inner">
                    <div class="css2-slide-content">
                        <h4>MANUFACTURING & CLEAN UTILITIES SKIDS</h4>
                        <p>Duis Aute Irure Dolor In Reprehenderit In Voluptate Velit Esse Cillum.</p>
                        <div class="css2-button row">
                            <a href="#" target="{{sector.link.target}}" class="btn">SEE MORE</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
        <div class="css2-slider hide-mobile" data-flickity='{ "groupCells": 1, "wrapAround": true, "arrowShape": "M 0,50 L 60,00 L 50,30 L 80,30 L 80,70 L 50,70 L 60,100 Z" }'>
        {% for item in case_studies %}
            <div class="css2-slide">
                <div class="shape-holder"><shape></shape></div>
                <div class="css2-slide-inner" style="--bg-img:url(https://aonndpeydo.cloudimg.io/v7/{{Image(item.thumbnail.src).src}})">
                    <div class="css2-slide-image">
                        <div class="css2-slide-image-inner">
                            <h3>{{item.title}}</h3>
                        </div>
                    </div>
                    <div class="css2-slide-content">
                        <div class="css2-slide-content-inner">
                            <p>{{item.preview.read_more('')}}</p>
                            <div class="css2-button row">
                                <a href="{{item.link}}" target="{{item.link}}" class="btn ne slider">SEE MORE</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</section>

<script>
{{fields.custom_scripts.javascript}}


</script>

{% if is_preview %}
</div>
{% endif %}