.cb3 {
    strong {
        font-size: 16px;
        font-weight: 600;
        color: rgba(0, 170, 177, 1);
        @include from_until(1024) {
            font-size: 24px;
        }
    }
    p {
        line-height: 22px;
        margin: 2em 0;
        @include from_until(1024) {
            line-height: 35px;
        }
    }
}

.cb3 {
    position: relative;

    &-inner {
        display: flex;
        @include from_until(0,1023) {
            flex-direction: column-reverse;
        }
        @include from_until(1024) {
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
            padding-left: 6vw;
            padding-top: 6vh;
            padding-bottom: 5vh;
        }
        @include from_until(1537) {
            padding-left: 3.8vw;
        }
        & > div {
            @include from_until(1024) {
                flex: 0 0 50%;
            }
        }
    }

    &-cntr {
        padding: 50px 0;
        padding-bottom: 0;
        @include from_until(1024) {
            padding: 100px 0;
        }
        @include from_until(1024, 1536) {
            margin:0;
        }
    }

    &-content {
        @include from_until(0,1023) {
            padding: 25px;
            margin: 50px 25px;
            margin-bottom: 5px;
            box-shadow: 0px 3px 6px rgb(0 0 0 / 16%);
        }
    }

    &-image {
        @include from_until(0,1023) {
            max-width: 85%;
            margin-left: auto;
        }
    }

    img {
        @include from_until(0,1023) {
            width: 100%;
            height: auto;
        }
        @include from_until(1024) {
            max-width: 40vw;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translate(0,-50%);
        }
    }
    
    .dbg {
        &-two {
            top: 0;
            left: 0;
            z-index: -2;
            @include from_until(1024) {
                max-width: 1618px;
                margin-left: auto;
            }
            // @include from_until(1537) {
            //     left: 14.8vw;
            // }
        }
        &-shape {
            width: 100%;
            height: 1px;
            background-color: #13293D;
            position: relative;
            @include from_until(1024) {
                margin-left: 3.8vw;
                width: 600px;
            }
            box {
                width: 58px;
                height: 10px;
                background-color: #13293D;
                display: block;
                position: absolute;
                top: -10px;
            }
        }
    }
}
