<style>{{compiled_css}}</style>
<section class="block cb3" data-block-name="cb3">
    <div class="dbg dbg-two bg-color" bg-type="color" style="--bg-color:#ffffff;"></div>
    <div class="container cb3-cntr">
    <div class="dbg-shape" bg-type="color"><box></box></div>
        <div class="container cb3-inner">
            <div class="cb3-content">
                <div class="cb3-heading">
                    <h2>{{fields.heading}}</h2>
                </div>
                {{fields.content}}
            </div>
            <div class="cb3-image">
                <img loading="lazy" src="https://aonndpeydo.cloudimg.io/v7/{{Image(fields.image).src}}" height="{{fields.image.height}}" width="{{fields.image.width}}" alt="{{Image(fields.image).alt}}">
            </div>
        </div>
    </div>
</section>