.cb7 {
    overflow: hidden;
    @include from_until(0, 1023) {
        padding-bottom: 150px;
    }
    @include from_until(1024) {
        margin-bottom: 50px;
    }
    h2 {
        color: var(--h-col);
        @include from_until(1024) {
            margin-top: 75px;
        }
    }
    p {
        color: var(--p-col);
    }
    .container {
        margin-top: 50px;
        padding: 20px;
        @include from_until(1024) {
            margin-top: 150px;
            padding: 0;
        }
    }
    &-cntr {
        padding: 20px;
        @include from_until(0, 1023) {
            padding-bottom: 100px;
        }
        @include from_until(1024) {
            padding: 90px;
        }
    }
    &-content {
        @include from_until(1024) {
            margin-right: 50px;
            padding-right: 50px;
            padding-top: 50px;
            padding-bottom: 75px;
        }
        @include from_until(0,1023) {
            flex:0 0 100%;
            max-width: 100%;
        }
    }
    &-bg {
        z-index: -1;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
        background: linear-gradient(299deg, #00aab1 1%, #13293d 100%);
        margin-bottom: 100px;
        &.gradient {
            background: linear-gradient(299deg, #00aab1 1%, #13293d 100%);
        }
        &.color {
            background: var(--bg-col);
        }
    }
    &-image {
        @include from_until(1024) {
            height: 535px;
        }
    }
    &-img {
        @include from_until(1024) {
            max-width: 800px;
            top: -100px;
            bottom: -100px;
        }
    }
    a {
        color:#00aab1;
    }
}