.flickity-button {
    background-color: transparent;
    border: 0;
    padding: 0;
    position: absolute;
    top: 40%;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transform: translateY(-50%);
    @include from_until(1024) {
        top: 50%;
    }
    &-icon {
        display: none;
    }
    &:before {
        font-family: "icomoon";
        color: #00aab1;
        cursor: pointer;
        font-size: 25px;
        @include from_until(1024) {
            font-size: 40px;
        }
    }
    &.previous {
        left: 10px;
        &:before {
            content: "\e903";
        }
    }
    &.next {
        right: 10px;
        &:before {
            content: "\e902";
        }
    }
}

.flickity-page-dots {
    list-style: none;
    padding: 0;
    padding-top: 50px;
    padding-left: 50px;
    margin: 0;
    display: flex;
    @include from_until(1024) {
        padding-left: 2.8vw;
    }
    .dot {
        height: 5.65px;
        width: 33.27px;
        background-color: rgba(0, 170, 177, 0.25);
        @include from_until(1024) {
            height: 10px;
            width: 60px;
        }
        cursor: pointer;
        &.is-selected {
            background-color: rgba(0, 170, 177, 1);
        }
    }
    .dot + .dot {
        margin-left: 5px;
    }
}

.ls1 {
    position: relative;
    background-color: var(--bg-color);
    z-index: 1;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        left: 50vw;
        bottom: 0;
        background: white;
        background-repeat: no-repeat;
        background-position-x: right;
        background-position-y: top;
        background-blend-mode: color-burn;
        z-index: -1;
        opacity: 1;
    }
    &-slide {
        background-color:transparent;
    }
}

.ls1 {
    color: white;
    h2 {
       color:#13293D;
    }
    h3 {
        color: white;
        position: relative;
        z-index:3;
        font-weight: 400;
    }
    p {
        color:#13293D;
        @include from_until(0,1023) {
            margin-top: 15px;
        }
    }
}

.ls1 {
    &-content-ctnr {
        padding:50px;
        @include from_until(1024) {
            padding-left: 2.8vw;
        }
    }
    &-inner {
        background: white;
        padding-bottom: 50px;
        @include from_until(1024) {
            padding-bottom: 100px;
        }
    }
    &-slider {
        outline: 0;
        overflow: hidden;
        min-height: 200px;
    }
    &-button {
        justify-content: end;
        @include from_until(1024) {
            padding-top: 25px;
        }
    }
    &-shape {
        position: absolute;
        right: 0;
        bottom: -5vh;
        img {
            @include from_until(1024) {
                max-width: 65vw;
            }
        }
        &-two {
            position: absolute;
            bottom: 0;
            background-color: #00aab1;
            top: -5px;
            left: 0;
            z-index: 50;
            height: 5.65px;
            width: 33.25px;
            @include from_until(1024) {
                top: -10px;
                height: 9.81px;
                width: 57.75px;
            }
        }
    }
}

.ls1 {
    &-slide {
        border-radius: 3px;
        box-shadow: 0px 3px 6px rgb(0 0 0 / 16%);
        width: 310px;
        height: 201px;
        margin-right: 100px;
        display:flex;
        position:relative;
        flex-direction: column;
        @include from_until(1024) {
            margin-right: 15px;
            width: 300px;
            height: 190px;
        }
        &-content {
            transition: all 0.35s ease-out;
            z-index: 2;
            overflow: hidden;
            background-color: white;
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: center;
            padding: 15px 30px;
        }
        &-inner {
            overflow:hidden;
            display: flex;
            flex-grow: 1;
        }
        .shape-holder {
            border-bottom: 1px solid #13293D;
        }
        img {
            max-height: 75px;
        }
        shape {
            display: block;
            background: #13293D;
            height: 6px;
            width: 32px;
        }
    }
}

.ls1 {
    &-inner {
        position:relative;
    }
    &-slider{
        @include from_until(1024) {
            margin-left:2.8vw;
        }
    }
    .flickity-button {
        top:60%;
    }
    .next {
        right:-40px;
    }
}
