{% if is_preview %}
<div class="preview" data-block-name="sebo">
<style>
    .preview-wrapper {
        background-color:#1c2a36;
    }
    .dynamic-hero {
        min-height:30vh;
    }
    img {
        max-width: 100%;
    }
    .block-editor-inner-blocks {
        border:2px solid rgba(30, 162, 224, 0.5);
    }
</style>
{% endif %}
<script src="https://unpkg.com/flickity@2.2.2/dist/flickity.pkgd.min.js"></script>
<style>{% htmlcompress %}{{compiled_css}}{{fields.custom_scripts.css}}{% endhtmlcompress %}</style>
<section class="block ls1" data-block-name="ls1" style="--bg-color:{{fields.background_color}};--h-color:{{fields.heading_color}};">
    <div class="container ls1-inner">
        <div class="ls1-content-ctnr">
            <div class="ls1-heading">
                <h2>{{fields.title}}</h2>
            </div>
            <div class="ls1-content">
                <p>{{fields.content}}</p>
            </div>
        </div>
        <div class="ls1-slider" data-flickity='{ "groupCells": 4, "prevNextButtons": true, "pageDots": false, "wrapAround": true, "arrowShape": "M 0,50 L 60,00 L 50,30 L 80,30 L 80,70 L 50,70 L 60,100 Z" }'>
        {% for item in fields.slides %}
            <div class="ls1-slide">
                <div class="shape-holder"><shape></shape></div>
                <div class="ls1-slide-inner" style="--bg-img:url(https://aonndpeydo.cloudimg.io/v7/{{Image(item.logo.src).src}})">
                    <div class="ls1-slide-image">
                        <div class="ls1-slide-image-inner">
                            <h3>{{item.title}}</h3>
                        </div>
                    </div>
                    <div class="ls1-slide-content">
                        <div class="ls1-slide-content-inner">
                            <img  loading="lazy" src="https://aonndpeydo.cloudimg.io/v7/{{Image(item.logo).src}}" alt="{{Image(item.logo).alt}}">
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</section>

<script>
{{fields.custom_scripts.javascript}}


</script>

{% if is_preview %}
</div>
{% endif %}