@use 'theme/mixins' as *;

.cs {
    &-hero {
        &-content {
            @include from_until(0, 1023) {
                margin: 30px;
                margin-bottom: 0px;
            }
            @include from_until(1024) {
                margin-top: 50px;
                margin-bottom: 80px;
                margin-left: 120px;
            }
            h1 {
                margin:0;
                @include from_until(1024) {
                    font-size: 42px;
                    line-height:60px;
                }
            }
        }
    }
    &-body {
        &-cntr {
            background-color: white;
        }
    }
    &-fi {
        max-height: 100%;
        @include from_until(0, 1023) {
            position:relative;
        }
        @include from_until(1024) {
            top: 90px;
        }
    }
    &-info {
        &-list {
            font-size: 20px;
            line-height: 30px;
            max-width:700px;
            .label {
                color:rgba(0, 170, 177, 1);
                font-weight: 500;
                padding: 8px 0;
            }
            .value {
                border-left: 1px solid rgba(19, 41, 61, 0.10);
                padding: 8px 30px;
            }
            li {
                border-bottom: 1px solid rgba(19, 41, 61, 0.10);
                padding: 7px 0;
                &:first-child {
                    border-top: 1px solid rgba(19, 41, 61, 0.10);
                }
            }
        }
    }
    &-inner {
        justify-content: space-between;
        .col-33 {
            @include from_until(0, 1023) {
                flex: 0 0 100%;
                max-width: 100%;
            }
            .col {
                padding:0;
                @include from_until(1024) {
                    padding:10px;
                }
            }
        }
        .col-60 {
            @include from_until(0, 1023) {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
    }
    &-images {
        padding-top: 50px;
    }
    &-header {
        @include from_until(0, 1023) {
            padding:20px;
        }
        .cs-header-content {
            flex: 0 0 65%;
            max-width: 65%;
            @include from_until(0, 1023) {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
    }

    &-info {
        li.cls {
            @include from_until(0, 1023) {
                flex-direction: row;
            }
        }
    }
    &-content {
        @include from_until(1024) {
            padding: 150px 0;
        }
        @include from_until(0, 1023) {
            padding:20px;
        }
    }
    &-section {
        padding: 40px 0;
        border-bottom: 1px solid rgba(0, 170, 177, 1);
        @include from_until(1024) {
            padding: 90px 0;
        }
        &:first-child {
            border-top: 1px solid rgba(0, 170, 177, 1);
        }
        .cs-section-shape {
            height: 10px;
            width: 58px;
            background-color: rgba(0, 170, 177, 1);
            top: -10px;
        }
        h4 {
            margin-bottom: 0;
        }
    }
    &-button {
        justify-content: flex-end;
        padding-top: 25px;
        .btn {
            border:0;
        }
    }
    &-shape {
        @include from_until(1024) {
            margin-bottom: -50px;
            margin-top: -50px;
            position: relative;
            z-index: 5;
        }
    }
}