@use 'theme/mixins' as *;

.cs {
    &-hero {
        &-content {
            @include from_until(0, 1023) {
                margin: 30px;
            }
            @include from_until(1024) {
                margin-top: 50px;
                margin-bottom: 100px;
                margin-left: 120px;
            }
        }
        span {
            font-size: 45px;
            line-height: 60px;
            text-transform: uppercase;
            font-weight: 600;
        }
    }
    &-body {
        h1 {
            font-size: 35px;
            line-height: 53px;
        }
        &-cntr {
            background-color: white;
            @include from_until(1024) {
                padding-top: 200px;
            }
        }
        li {
            font-size: 20px;
            line-height: 26px;
        }
    }
    &-fi {
        max-height: 100%;
        @include from_until(0, 1023) {
            position:relative;
        }
        @include from_until(1024) {
            top: 130px;
            max-width: 35vw;
            height: 430px;
            object-fit: cover;
        }
    }
    &-info {
        &-list {
            font-size: 20px;
            line-height: 30px;
            max-width:700px;
            .label {
                color:rgba(0, 170, 177, 1);
                font-weight: 500;
                padding: 12px 0;
            }
            .value {
                border-left: 1px solid rgba(19, 41, 61, 0.10);
                padding: 12px 30px;
            }
            li {
                border-bottom: 1px solid rgba(19, 41, 61, 0.10);
                padding: 7px 0;
                &:first-child {
                    border-top: 1px solid rgba(19, 41, 61, 0.10);
                }
            }
        }
    }
    &-inner {
        .col-33 {
            @include from_until(0, 1023) {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
    }
    &-images {
        padding-top: 50px;
    }
    &-header {
        @include from_until(0, 1023) {
            padding:20px;
        }
        .cs-header-content {
            flex: 0 0 65%;
            max-width: 65%;
            @include from_until(0, 1023) {
                flex: 0 0 100%;
                max-width: 100%;
            }
            h1 {
                font-weight: 400;
            }
        }
    }
    &-info {
        li.cls {
            @include from_until(0, 1023) {
                flex-direction: row;
            }
        }
    }
    &-content {
        @include from_until(0, 1023) {
            padding:20px;
        }
    }
    &-section {
        padding: 20px 0;
        border-bottom: 1px solid rgba(0, 170, 177, 1);
        @include from_until(1024) {
            padding: 60px 0;
        }
        &:not(:first-child) {
            .cs-section-shape {
                height: 10px;
                width: 58px;
                background-color: rgba(0, 170, 177, 1);
                top: -10px;
            }
        }
    }
    &-shape {
        @include from_until(1024) {
            margin-bottom: -50px;
            margin-top: -50px;
            position: relative;
            z-index: 5;
        }
    }
}
.fc2 {
    // background: linear-gradient(270deg, #00aab1 1%, #13293d 100%);
    position:relative;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        background: var(--bg);
        background-repeat: no-repeat;
        background-size: contain;
        mix-blend-mode: multiply;
        opacity: 0.65;
        @include from_until(0,1023) {
            z-index: -1;
        }
        @include from_until(1024) {
            width: 450px;
        }
    }
    h3 {
        color:white;
    }
    a {
        color:white;
        text-decoration: none;
    }
    p {
        font-weight: 400;
    }
    &-content {
        @include from_until(1024) {
            max-width: 70%;
            margin-left: auto;
        }
    }
    &-inner {
        background: linear-gradient(270deg, #00aab1 1%, #13293d 100%);
        padding: 25px 50px;
        @include from_until(1024) {
            padding: 25px;
        }
    }
    &-outer {
        background: white;
        padding-bottom: 75px;
        @include from_until(1024) {
            padding-bottom: 25px;
        }
    }
}