{% if is_preview %}
<div class="preview" data-block-name="service-block-two">
<style>
    .preview-wrapper {
        background-color:#1c2a36;
    }
    .dynamic-hero {
        min-height:30vh;
    }
    img {
        max-width: 100%;
    }
    .block-editor-inner-blocks {
        border:2px solid rgba(30, 162, 224, 0.5);
    }
</style>
{% endif %}

<style>{% htmlcompress %}{{compiled_css}}{{fields.custom_scripts.css}}{% endhtmlcompress %}</style>

<section class="block cb8 pos-r" data-block-name="service-block-two">
    <div class="container">
    <div class="cb8-inner cls">
        <div class="col">
            
        </div>
        <div class="col"></div>
    </div>

        <div class="cb8-content pos-r">
            <div class="cb8-heading">
                <h2>{{fields.title}}</h2>
            </div>
            <div class="cb8-body">
                {{fields.content}}
            </div>
            <div class="cb8-shape pos-a"></div>
        </div>
    </div>
    <div class="cb8-bg pos-a hide-mobile"></div>
</section>
<script>{{fields.custom_scripts.javascript}}</script>
{% if is_preview %}
</div>
{% endif %}
<script>

function toggleTab(element) {
    if(element.parentNode.classList.contains('open')) {
        element.parentNode.classList.remove('open');
    } else {
    document.querySelectorAll('.cb8-tab').forEach((el) => {el.classList.remove('open');})
    element.parentNode.classList.add('open');
    }
}
</script>