.wedding-countdown {
  background-color: var(--bgc);
  padding: 60px 0px;
}
.countdown {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
}
.countdown-item {
  text-align: center;
}
.countdown-counter {
  display: block;
  font-size: 400%;
  font-style: italic;
  line-height: 1;
}
.countdown-label {
  display: block;
  margin-top: 1em;
  font-size: 100%;
  font-style: italic;
  line-height: 1;
}
@media only screen and (min-width: 1024px) {
  .wedding-countdown {
    background-color: var(--bgc);
    padding: 60px 0px;
  }
}
