.cf {
    input {
        height:50px;
        border:0;
        outline:none;
        width: 100%;
        font-size: 18px;
        padding-left: 25px;
        padding-top: 0;
        background-color: rgba(117, 204, 210, 0.15);
        &::placeholder {
            font-size: 20px;
            line-height: 30px;
            color:rgba(19, 41, 61, 0.5);
            font-family: "Kanit";
            font-weight: 300;
        }
        &[type=submit] {
            background-color: white;
            border: 1px solid rgba(0, 170, 177, 1);
            color: rgba(0, 170, 177, 1);
            padding: 0;
            cursor: pointer;
            width: max-content;
            min-width: 250px;
            display: block;
            margin-left: auto;
            font-weight: 300;
        }
    }
    textarea {
        outline: none;
        border:0;
        width: 100%;
        font-size: 18px;
        padding-left: 25px;
        padding-top:25px;
        margin-top: 10px;
        background-color: rgba(117, 204, 210, 0.15);
        &::placeholder {
            font-size: 20px;
            line-height: 30px;
            color:rgba(19, 41, 61, 0.5);
            font-family: "Kanit";
            font-weight: 300;
        }
    }
    label {
        margin-bottom: 5px;
        margin-left: 5px;
        font-size: 16px;
        line-height: 24px;
        color: rgba(19, 41, 61, 1);
        font-weight: 300;
    }
    .btn {
        cursor: pointer;
        width: 100%;
        margin: auto;
        max-width: 90%;
        @include from_until(1024) {
            max-width: 475px;
        }
    }
    .col-60 {
        @include from_until(1024) {
            margin-right: 40px;
        }
        @include from_until(0,1023) {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
    .footer-icons {
        justify-content: right;
    }
}

.cobo {
    h1 {
        margin:0;
        color:rgba(19, 41, 61, 1);
        @include from_until(1024) {
            margin-left: 100px;
        }
    }
    h2 {
        margin-bottom: 10px;
        @include from_until(1024) {
            margin-top: -10px;
        }
    }
    h6 {
        color:white;
    }
}

.cobo {
    &-content {
        background:white;
        &-inner {
            justify-content: flex-end;
        }
    }
    &-list {
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .normal {
            flex:0 0 100%;
            max-width: 100%;
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            @include from_until(1024) {
                flex:0 0 48%;
                max-width: 48%;
            }
        }
    }
    &-message {
        margin-top: 20px;
    }
    &-content {
        padding: 25px 0;
        @include from_until(1024) {
            padding: 100px 0;
        }
    }
    &-submit {
        width: max-content;
        margin-left: auto;
        position: relative;
        &:before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 9px;
            background-color: #00aab1;
        }
    }
    &-actions {
        padding-top: 35px;
        .wpcf7-spinner {
            display:none;
        }
    }
    &-map {
        img {
            height: 100%;
            object-fit: cover;
        }
    }
    &-title {
        @include from_until(0,1023) {
            margin: 50px 25px;
        }
        @include from_until(1024) {
            margin-top: 50px;
            margin-bottom: 100px;
        }
    }
    &-form {
        @include from_until(1024) {
            max-width: 755px;
        }
        &-wrapper {
            padding:20px;
            margin:20px;
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
            @include from_until(1024) {
                margin:0;
                padding:50px;
            }
        }
    }
    &-shape {
        margin-bottom: -15px;
        margin-top: -15px;
        @include from_until(1024) {
            margin-bottom: -50px;
            margin-top: -50px;
            position: relative;
            z-index: 5;
        }
    }
}

.wpcf7-not-valid-tip {
    padding-top: 10px;
    font-size: 16px;
}
.wpcf7-response-output {
    font-size: 20px;
    margin-top: 10px;
}

.cf {
    shape {
        height: 10px;
        background-color: rgba(19, 41, 61, 1);
        width: 58px;
        top: -10px;
    }
}
.cobo-info {
    padding:0;
    @include from_until(1024) {
        max-width: 460px;
    }
    &-wrapper {
        padding: 30px;
    }
}

.cobo-info-list {
    margin-top: 15px;
    margin-left: 20px;
    @include from_until(0,1023) {
        margin-right: 20px;
    }
    h4 {
        color:rgba(0, 170, 177, 1);
        margin: 0;
    }
    label {
        color:rgba(0, 170, 177, 1);
    }
    p {
        margin: 5px 0;
        font-size: 20px;
        line-height: 30px;
    }
    eircode {
        color:rgba(0, 170, 177, 1);
    }
    hr {
        border-top:1px solid rgba(19, 41, 61, 0.5);
    }
    li {
        border-top:1px solid rgba(19, 41, 61, 0.5);
        margin-bottom: 20px;
        @include from_until(1024) {
            margin-bottom: 40px;
        }
        &:last-child {
            background-color: rgba(0, 170, 177, 1);
            h4 {
                color:white;
            }
        }
    }
    span {
        color:rgba(19, 41, 61, 1);
        &:last-child {
            font-weight: 600;
        }
    }
    a {
        color:white;
    }
}

.cobo-info-item {
    &:not(:last-child) {
        h4 {
            margin-top: 25px;
        }
    }
}