{% if is_preview %}
<style>
    .preview-wrapper {
        background-color:#1c2a36;
    }
    .block-editor-inner-blocks {
        border:2px solid rgba(30, 162, 224, 0.5);
    }
    .wp-block-button__link {
        background-color:unset;
        border-radius: 0;
    }
</style>
{% endif %}
<style>{{compiled_css}}</style>
<section class="cobo cf" id="{{block.anchor}}" data-block-name="contact-block-one">
    <div class="cobo-title">
        <div class="container cobo-title-inner">
            <h1>{{post.title}}</h1>
        </div>
    </div>
    <div class="cobo-shape">
        <img loading="lazy" src="{{local_path}}/shape-one.svg" alt="Shape">
    </div>
    <div class="cobo-content">
        <div class="container cobo-content-inner cls">
            <div class="cobo-form col-60">
                <div class="cobo-form-wrapper">
                <h2>SEND US A MESSAGE</h2>
                [contact-form-7 id="{{fields.contact_form_id}}"]
                </div>
            </div>
            <div class="cobo-info col">
            <div class="footer-icons-container">
                <ul class="footer-icons">
                    <li><a href="https://www.linkedin.com/company/dolmen-engineering/" target="__blank"><img src="https://aonndpeydo.cloudimg.io/v7/{{ local_child_image('linkedin-green.svg')}}" alt="LinkedIn"/></a></li>
                    <li><a href="https://twitter.com/DolmenEngineer" target="__blank"><img src="https://aonndpeydo.cloudimg.io/v7/{{ local_child_image('twitter-green.svg')}}" alt="Twitter"/></a></li>
                </ul>
            </div>
                <ul class="rl cobo-info-list">
                {% for box in fields.boxes %}
                    <li class="cobo-info-item pos-r">
                        <h4>{{box.title}}</h4>
                        {% for line in box.address_lines %}
                        <p>{{line.line}}</p>
                        {% endfor %}
                        <shape class="pos-a"/>
                    </li>
                {% endfor %}
                    <li class="cobo-info-item main pos-r">
                        <div class="cobo-info-wrapper">
                            <shape class="pos-a"></shape>
                            <h4>{{fields.main_box.title}}</h4>
                            <hr/>
                            <p><strong>Tel:</strong> <a href="tel:{{fields.main_box.phone}}">{{fields.main_box.phone}}</a></p>
                            <p><strong>Email:</strong> <a href="mailto:{{fields.main_box.email}}">{{fields.main_box.email}}</a></p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>