.fco {
    background: var(--bg) rgba(19, 41, 61, 1);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    background-blend-mode: color-burn;
    &-quote {
        text-align: center;
    }
    img {
        box-shadow: 0px 3px 6px rgb(0 0 0 / 16%);
        border-radius: 50%;
        @include from_until(0,1023) {
            max-height: 115px;
        }
    }
    &-quote {
        position: relative;
        &-name {
            color:rgba(0, 170, 177, 1);
            margin:0.5em 0;
            font-weight:500;
        }
        & > * {
            position: relative;
            z-index: 2;
        }
        &:before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background: var(--bg) white;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            z-index: 1;
            opacity: 0.05;
            @include from_until(1024) {
                opacity: 0.09;
            }
        }
    }
    &-info {
        position: relative;
        &-text {
            border-top: 1px solid rgba(0, 170, 177, 0.3);
            margin-top: 35px;
            margin-bottom: 8vh;
        }
    }
    &-shape {
        position: absolute;
        bottom: 0;
        background-color: #00aab1;
        height: 6.17px;
        width: 36.35px;
        top: 79px;
        left: 50px;
        z-index: 10;
        @include from_until(1024) {
            left: 3vw;
            top: 86px;
            height: 9.81px;
            width: 57.75px;
        }
    }
}

.fco {
    &-content {
        @include from_until(1024) {
            padding: 8vh 0;
        }
    }
    &-info {
        background: linear-gradient(0deg, #00aab1 1%, #13293d 100%);
        padding: 50px;
        @include from_until(1024) {
            padding: 4vh 3vw;
            padding-top: 60px;
            flex: 0 0 50%;
        }
        p {
            color: white;
            font-weight: 500;
            @include from_until(0,1023) {
                font-size: 16px;
                line-height: 22px;
            }
            @include from_until(1024) {
                font-size: 25px;
            }
        }
        span {
            color: rgba(19, 41, 61, 1);
            font-weight: 500;
        }
        a {
            font-weight: 300;
            color: white;
        }
    }
    &-quote {
        background-color: white;
        padding: 50px;
        @include from_until(1024) {
            padding: 4vh 3vw;
            padding-top: 50px;
            flex: 0 0 50%;
        }
        p {
            line-height: 25px;
        }
    }
    &-inner {
        padding: 0;
    }
}
