<style>{{compiled_css}}</style>
<section class="block fco" data-block-name="fco" style="--bg:url(https://aonndpeydo.cloudimg.io/v7/{{local_path}}/bg-one.png)">
    <div class="container fco-inner">
        <div class="fco-content row">
            <div class="fco-info">
                <div class="fco-shape"></div>
                <div class="fco-info-text">{{fields.content}}</div>
                <ul class="rl">
                    <li><span>Tel: </span><a href="tel:{{fields.phone_number.value}}">{{fields.phone_number.label}}</a></li>
                    <li><span>Email: </span><a href="mailto:{{fields.email.value}}">{{fields.email.label}}</a></li>
                </ul>
            </div>
            <div class="fco-quote" style="--bg:url(https://aonndpeydo.cloudimg.io/v7/{{local_path}}/bg-one.png)">
                <div class="fco-quote-img">
                    <img loading="lazy" src="https://aonndpeydo.cloudimg.io/v7/{{Image(fields.quote.avatar).src}}" alt="{{Image(fields.quote.avatar).alt}}">
                </div>
                <h4 class="fco-quote-name">
                    {{fields.quote.name}}
                </h4>
                <p class="fco-quote-content">
                    {{fields.quote.content}}
                </p>
            </div>
        </div>
    </div>
</section>