.tbo {
    position:relative;
    &-team {
        &-inner {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
    &-inner {
        background:white;
        padding-left: 50px;
        padding-bottom: 100px;
        &:before {
            background:white;
            content:"";
            position:absolute;
            top:0;
            bottom:0;
            right:0;
            left:13vw;
        }
    }
    &-content {
        padding-top:30px;
        padding-bottom: 50px;
        @include from_until(1024) {
            padding-top:100px;
            padding-bottom: 25px;
        }
    }
}

.bio {
    height: 400px;
    overflow:hidden;
    @include from_until(1024) {
        height: 520px;
    }
    &-content {
        transition: all 0.5s ease;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        padding: 15px;
        height: 100%;
        background-color: white;
        position: absolute;
        top:80%;
        @include from_until(1024) {
            padding: 25px;
        }
        &-top {
            align-items: center;
            justify-content: space-between;
        }
        &-bot {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border-top: 1px solid rgba(0, 170, 177, 0.5);
            margin-top: 25px;
            padding-top: 25px;
            p {
                font-size: 16px;
                line-height: 24px;
            }
        }
    }
    .bot a {
        font-size: 16px;
        color:rgba(0, 170, 177, 1);
    }
}

.bio {
    &-item {
        position: relative;
        max-width: 310px;
        background: white;
        box-shadow: 0px 3px 6px rgb(0 0 0 / 16%);
        border-radius: 8px;
        margin-bottom: 35px !important;
        overflow:hidden;
        @include from_until(1024) {
            max-width: 400px;
        }
    }
    h4 {
        font-size: 17px;
        line-height: 25px;
        color:rgba(0, 170, 177, 1);
        margin:0;
        @include from_until(1024) {
            font-size: 24px;
            line-height: 35px;
        }
    }
    p {
        margin:0;
        @include from_until(1024) {
            font-size: 14px;
        }
    }
}

.bio-item {
    &:hover {
        .bio-content {
            top:0;
        }
    }
}