{% if is_preview %}
<div class="preview" data-block-name="team-block-one">
<style>
    .preview-wrapper {
        background-color:#1c2a36;
    }
    .dynamic-hero {
        min-height:30vh;
    }
    img {
        max-width: 100%;
    }
    .block-editor-inner-blocks {
        border:2px solid rgba(30, 162, 224, 0.5);
    }
</style>
{% endif %}

<style>{% htmlcompress %}{{compiled_css}}{{fields.custom_scripts.css}}{% endhtmlcompress %}</style>

<section class="block tbo" data-block-name="team-block-one">
    <div class="container tbo-inner">
        <div class="tbo-content">
            <div class="tbo-heading row">
                <h2>{{fields.title}}</h2>
            </div>
        </div>
        <div class="tbo-team">
            <ul class="rl tbo-team-inner">
                {% for person in fields.team %}
                    <li class="bio-item">
                        <div class="bio">
                            <div class="bio-img">
                                <img loading="lazy" src="https://aonndpeydo.cloudimg.io/v7/{{Image(person.avatar).src}}" alt="{{Image(person.avatar).alt}}"/>
                            </div>
                            <div class="bio-content">
                                <div class="bio-content-top row">
                                    <div class="left">
                                        <h4>{{person.name}}</h4>
                                        <p>{{person.position}}</p>
                                    </div>
                                    <div class="right">
                                        <a href="{{person.linkedin}}" target="__blank"><img loading="lazy" src="{{local_path}}/linkedin.svg" alt="Linkedin"/></a>
                                    </div>
                                </div>
                                <div class="bio-content-bot">
                                    <div class="top">
                                        {{person.bio}}
                                    </div>
                                    <div class="bot">
                                        <a href="mailto:{{person.email}}" target="__blank">{{person.email}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
<script>{{fields.custom_scripts.javascript}}</script>
{% if is_preview %}
</div>
{% endif %}
