{% if is_preview %}
<div class="preview" data-block-name="content-block-six">
<style>
    .preview-wrapper {
        background-color:#1c2a36;
    }
    .dynamic-hero {
        min-height:30vh;
    }
    img {
        max-width: 100%;
    }
    .block-editor-inner-blocks {
        border:2px solid rgba(30, 162, 224, 0.5);
    }
</style>
{% endif %}

<style>{% htmlcompress %}{{compiled_css}}{{fields.custom_scripts.css}}{% endhtmlcompress %}</style>

<section class="block cb6 {{block.className}}" data-block-name="content-block-six" style="--h-col:{{fields.heading_color}};--p-col:{{fields.content_color}};--bg-col:{{fields.background_color}};">
    <div class="dbg dbg-two bg-color" bg-type="color" style="--bg-color:#ffffff;"></div>
    <div class="container">
        <div class="cb6-cntr pos-r">
            <box></box>
            <div class="pos-a cb6-bg {{fields.background_type}}"></div>
            <div class="cls">
                <div class="col-60 cb6-content">
                {{fields.content}}
                </div>
                <div class="col cb6-image pos-r">
                    <img loading="lazy" class="cb6-img pos-a" src="https://aonndpeydo.cloudimg.io/v7/{{Image(fields.image).src}}" alt="{{Image(fields.image).alt}}"/>
                </div>
            </div>
        </div>
    </div>
</section>

<script>{{fields.custom_scripts.javascript}}</script>
{% if is_preview %}
</div>
{% endif %}

