.hero-one {
  padding: 55px;
  position: relative;
}
.hero-one-inner:before {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  right: 0;
  top: -158px;
}
.hero-one-inner.bg-white:before {
  background-color: white;
}
.hero-one-button {
  padding-bottom: 70px;
}
@media only screen and (min-width: 1024px) {
  .hero-one {
    padding: 0;
  }
  .hero-one-inner {
    position: relative;
    padding-left: 140px;
  }
  .hero-one-inner:before {
    top: -175px;
    right: -300px;
  }
  .hero-one-inner.bg-white:before {
    background-color: white;
  }
  .hero-one-content {
    padding-top: 175px;
    padding-bottom: 100px;
  }
  .hero-one-button {
    padding-bottom: 70px;
  }
  .hero-one-shape {
    position: absolute;
    right: 0;
    bottom: -50px;
  }
}
