.cbo {
    position:relative;
    &-inner {
        background: linear-gradient(338deg, rgba(0,170,177,1) 1%, rgba(19,41,61,1) 100%);
        max-width: 1450px;
        margin-right: auto;
        padding-top: 35px;
        padding-bottom: 35px;
        padding-left: 12vw;
        padding-right: 45px;
        @include from_until(1024) {
            background: linear-gradient(107deg, rgba(0,170,177,1) 1%, rgba(19,41,61,1) 100%);
            padding-top: 50px;
            padding-bottom: 100px;
            padding-left: 6vw;
            padding-right: 85px;
        }
        @include from_until(1537) {
            padding-left: 18.5vw;
        }
    }
    &-container {
        @include from_until(1024) {
            padding-top:24vh;
            padding-bottom:17vh;
        }
        @include from_until(0,1023) {
            padding:10vh 50px;
            padding-left:0;
        }
    }
    .dbg {
        z-index: -1;
        top: 0;
        left: 0;
        @include from_until(1024) {
            max-width: 1618px;
            margin-left: auto;
        }
        @include from_until(1537) {
            max-width: none;
            margin:0;
        }
        @include from_until(1920) {
            left:150px;
        }
        &:after {
            opacity: 0;
        }
    }
    p {
        @include from_until(0,1023) {
            line-height:22px;
        }
    }
}