@media only screen and (min-width: 1024px) {
  .cbo {
    position: relative;
  }
  .cbo-inner {
    background: linear-gradient(107deg, #00aab1 1%, #13293d 100%);
    max-width: 1450px;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 100px;
    padding-left: 18.5vw;
    padding-right: 85px;
  }
  .cbo-container {
    padding-top: 24vh;
    padding-bottom: 17vh;
  }
  .cbo .dbg {
    z-index: -1;
    top: 0;
    left: 150px;
  }
}
