{% if is_preview %}
<div class="preview" data-block-name="cbo">
<style>
    .preview-wrapper {
        background-color:#1c2a36;
    }
    img {
        max-width: 100%;
    }
    .block-editor-inner-blocks {
        border:2px solid rgba(30, 162, 224, 0.5);
    }
</style>
{% endif %}

<style>{% htmlcompress %}{{compiled_css}}{{fields.custom_scripts.css}}{% endhtmlcompress %}</style>

<section class="block cbo" data-block-name="content-block-one">
    <div class="dbg dbg-two bg-img" bg-type="image" style="--bg-img:url(https://aonndpeydo.cloudimg.io/v7/{{Image(fields.background_image).src}});"></div>
    <div class="cbo-container">
        <div class="cbo-inner txt-w">
            <div class="cbo-heading">
                <h2 class="txt-w">{{fields.heading}}</h2>
            </div>
            <div class="cbo-content">
                {{fields.content}}
            </div>
        </div>
    </div>
</section>

<script>{{fields.custom_scripts.javascript}}</script>

{% if is_preview %}
</div>
{% endif %}