<ul class="menu-list hide-mobile">
{% for item in items %}
    <li class="menu-item">
        <a class="menu-link" href="{{item.link}}" target="{{item.target}}" >{{item.title}}</a>
    </li>
{% endfor %}
</ul>
<ul class="menu-listm hide-desktop">
{% for item in items %}
    <li class="menu-itemm">
        <a class="menu-linkm" href="{{item.link}}" target="{{item.target}}" >{{item.title}}</a>
    </li>
{% endfor %}
</ul>