.cbf {
    position:relative;
    @include from_until(0,1023) {
        background-color: white;
    }
    &-inner {
        background-color: white;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
        z-index: 2;
        @include from_until(0,1023) {
            padding: 25px 45px;
            margin-right: 25px;
        }
        @include from_until(1024) {
            max-width: 1605px;
            margin-left: auto;
            margin-right: auto;
            padding: 5vh 8vw;
            padding-bottom: 125px;
        }
    }
    &-boxes {
        &-inner {
            @include from_until(1024) {
                justify-content: space-between;
            }
            .box-item {
                text-align: center;
                @include from_until(1024) {
                    flex: 0 0 30%;
                }
            }
        }
        img {
            padding-left: 38px;
        }
    }
    &-bg {
        background:var(--bg);
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        @include from_until(1024) {
            z-index: -2;
        }
    }
    &-spacer {
        height:100px;
        @include from_until(1024) {
            height:50vh;
        }
    }
    h3 {
        color:#00AAB1;
    }
    P {
        text-align: left;
        @include from_until(1024) {
            line-height: 30px;
        }
    }
}
.box {
    &-content {
        padding: 20px;
    }
    &-separator {
        min-height: 1px;
        width: 100%;
        background-color: rgba(19, 41, 61, 0.5);
        @include from_until(1024) {
            min-height: 500px;
            width: 1px;
        }
    }
}

.cbfb {
    position: relative;
    background: var(--bg-img);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: top;
    @include from_until(0,1023) {
        overflow: hidden;
        margin: 0 25px;
    }
    &-bg {
        background: transparent linear-gradient(180deg, rgba(19, 41, 61, 1) 0%, rgba(0, 170, 177, 1) 100%) 0% 0% no-repeat padding-box;
        position: absolute;
        bottom: 0;
        @include from_until(0,1023) {
            top: -600px;
            left: 0;
            right: 0;
            box-shadow: 0px 3px 6px rgb(0 0 0 / 16%);
        }
        @include from_until(1024) {
            z-index: -1;
            top: -575px;
        }
        @include from_until(1024,1536) {
            left: 25px;
            right: 0;
        }
        @include from_until(1537) {
            left: 13vw;
            right: 0;
        }
    }
    &-inner {
        @include from_until(0,1023) {
            padding: 30px;
        }
        @include from_until(1024) {
            padding-left: 12.5vw;
            padding-bottom: 75px;
        }
    }
    h2,
    h3{
        color:white;
        margin:0;
    }
    h2 {
        z-index: 2;
        position: relative;
        margin-top: 40px;
        margin-bottom: 25px;
        @include from_until(1024) {
            margin-top: 100px;
            margin-bottom: 50px;
        }
        
    }
    h3 {
        font-weight:500;
    }
}

.list {
    &-content {
        transition: all 0.5s ease;
        overflow: hidden;
        max-height: 1000px;
        flex-wrap: nowrap;
        @include from_until(1024) {
            padding-top: 15px;
        }
        h4 {
            margin-top: 15px;
            margin-bottom: 0;
            @include from_until(1024) {
                margin-top: 5px;
                margin-bottom: 10px;
            }
        }
        p {
            color:white;
            margin-top:0;
            @include from_until(1024) {
                line-height: 35px;
            }
        }
    }
    &-img {
        img {
            @include from_until(0,1023) {
                margin-top: 15px;
            }
        }
    }
    &-item {
        @include from_until(1024) {
            margin: 35px 0 !important;
        }
        .chevron {
            &:before {
                transition: all 0.5s ease;
                font-family: "icomoon";
                position: absolute;
                right: 8px;
                font-size: 25px;
                color: rgba(0, 170, 177, 1);
                transform: rotate(90deg);
                @include from_until(0,1023) {
                    content: "\e903";
                }
            }
        }
    }
    &-img {
        flex: 0 0 64px;
        margin-right: 15px;
        @include from_until(1024) {
            flex: 0 0 177px;
            margin-right: 30px;
        }
    }
}
@include from_until(0,1023) {
    .list-item {
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        padding: 15px 0;
        &:first-child {
            border-top: 1px solid rgba(255, 255, 255, 0.5);
        }
        &:not(.open) {
            .list-content {
                max-height: 0;
            }
            .chevron {
                &:before {
                    transform: rotate(270deg);
                }
            }
        }
    }
}