{% if is_preview %}
<div class="preview" data-block-name="content-block-four">
<style>
    .preview-wrapper {
        background-color:#1c2a36;
    }
    .dynamic-hero {
        min-height:30vh;
    }
    img {
        max-width: 100%;
    }
    .block-editor-inner-blocks {
        border:2px solid rgba(30, 162, 224, 0.5);
    }
</style>
{% endif %}

<style>{% htmlcompress %}{{compiled_css}}{{fields.custom_scripts.css}}{% endhtmlcompress %}</style>

<section class="block cbf" data-block-name="content-block-four">
    <div class="cbf-bg" style="--bg:url(https://aonndpeydo.cloudimg.io/v7/{{Image(fields.background_image).src}});"></div>
    <div class="cbf-spacer top" style="--bg:url(https://aonndpeydo.cloudimg.io/v7/{{Image(fields.background_image).src}});"></div>
    <div class="cbf-inner row">
        <div class="cbf-content">
            <div class="cbf-heading row">
                <h2>{{fields.title}}</h2>
            </div>
        </div>
        <div class="cbf-boxes">
            <ul class="rl cbf-boxes-inner row">
                {% for box in fields.boxes %}
                    <li class="box-item">
                        <div class="box-content">
                            <img loading="lazy" src="https://aonndpeydo.cloudimg.io/v7/{{Image(box.icon).src}}" alt="{{Image(box.icon).alt}}"/>
                            <h3>{{box.title}}</h3>
                            {{box.content}}
                        </div>
                    </li>
                    {% if not loop.last %}
                    <div class="box-separator"></div>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="cbfb" style="--bg-img:url({{local_path}}/bg.png);">
        <div class="cbfb-bg"></div>
        <div class="container cbfb-inner">
            <h2>{{fields.bot_title}}</h2>
            <ul class="rl cbfb-list row">
                {% for list_item in fields.list %}
                    <li class="list-item">
                        <div class="list-selector row" onclick="toggleTab(this);">
                            <h3 class="hide-desktop">{{list_item.title}}</h3>
                            <div class="chevron"></div>
                        </div>
                        <div class="list-content row">
                            <div class="list-img">
                                <img loading="lazy" src="https://aonndpeydo.cloudimg.io/v7/{{Image(list_item.icon).src}}" alt="{{Image(list_item.icon).alt}}"/>
                            </div>
                            <div class="list-content">
                                <h3 class="hide-mobile">{{list_item.title}}</h3>
                                <h4>{{list_item.subtitle}}</h4>
                                {{list_item.content}}
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
<script>
{{fields.custom_scripts.javascript}}
function toggleTab(tab) {
    if(tab.parentNode.classList.contains('open')) {
            tab.parentNode.classList.remove('open');
    } else {
    document.querySelectorAll('.list-item').forEach((el) => {el.classList.remove('open');})
    tab.parentNode.classList.toggle('open');
    }
}
</script>
{% if is_preview %}
</div>
{% endif %}

