.sbt {
    position: relative;
    &-button {
        padding-bottom: 70px;
    }
    .dbg-one {
        top: -158px;
    }
    .dbg-two {
        z-index: -2;
        top: 0;
        @include from_until(0,1023) {
            left: 0;
        }
    }
}

.sbt {
    &-inner {
        @include from_until(1024) {
            padding-left: 3.8vw;
            padding-bottom: 15vh;
        }
    }
    &-services-inner {
        @include from_until(1024) {
            display: flex;
            flex-wrap: wrap;
        }
    }
    &-content {
        @include from_until(0, 1023) {
            padding: 0 50px;
            padding-top: 50px;
        }
    }
    &-services {
        @include from_until(0, 1023) {
            padding: 25px;
        }
    }
    &-body {
        @include from_until(1024) {
            max-width: 75%;
        }
    }
    &-heading {
        h2 {
            margin-top:0;
        }
    }
}
.service {
    &-item {
        padding:25px;
        flex: 0 0 33.33%;
        .btn {
            margin-right: 50px;
            &:before {
                content:none;
            }
        }
    }
    &-content {
        .row {
            justify-content: space-between;
            align-items: center;
        }
        h4 {
            color:rgba(0, 170, 177, 1);
            margin-bottom:0;
        }
        p {
            margin-top:5px;
        }
    }
}