{% if is_preview %}
<div class="preview" data-block-name="sbt">
<style>
    .preview-wrapper {
        background-color:#1c2a36;
    }
    .dynamic-hero {
        min-height:30vh;
    }
    img {
        max-width: 100%;
    }
    .block-editor-inner-blocks {
        border:2px solid rgba(30, 162, 224, 0.5);
    }
</style>
{% endif %}

<style>{% htmlcompress %}{{compiled_css}}{{fields.custom_scripts.css}}{% endhtmlcompress %}</style>

<section class="block sbt" data-block-name="service-block-two">
    <div class="dbg dbg-two bg-color" bg-type="color" style="--bg-color:#ffffff;"></div>
    <div class="container sbt-inner">
        <div class="sbt-content">
            <div class="sbt-heading">
                <h2>{{fields.title}}</h2>
            </div>
            <div class="sbt-body">
                {{fields.content}}
            </div>
        </div>
        <div class="sbt-services">
            <div class="sbt-shape-two"></div>
            <ul class="rl sbt-services-inner">
                {% for service in fields.services %}

                    <li class="service-item">
                        <div class="service-content">
                            <h4>{{service.title}}</h4>
                            {{service.content}}
                            <div class="row">
                                <div class="left">
                                    <img loading="lazy" src="https://aonndpeydo.cloudimg.io/v7/{{Image(service.icon).src}}" alt="{{Image(service.icon).alt}}"/>
                                </div>
                                <div class="right">
                                    <a class="btn btn-primary" href="{{service.link.url}}" target="{{service.link.target}}">{{service.link.title}}</a>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
<script>{{fields.custom_scripts.javascript}}</script>
{% if is_preview %}
</div>
{% endif %}
