.cb9 {
    h2 {
        @include from_until(1024) {
            padding-bottom: 50px;
            padding-left: 75px;
            margin-top: 0;
        }
    }
    h4 {
        color: rgba(0, 170, 177, 1);
        margin-top: 0;
    }
    .container {
        background-color: white;
        padding: 20px;
        @include from_until(1024) {
            padding: 0;
            padding-top: 100px;
            padding-bottom: 100px;
        }
    }
    &-bg {
        @include from_until(1024) {
            left: unset;
            background-color: white;
            width: 1000px;
            z-index: -1;
        }
    }
    &-img {
        padding:20px;
        @include from_until(1024) {
            padding:0;
        }
    }
    &-content {
        padding:20px;
        @include from_until(1024) {
            padding: 75px 50px;
        }
    }
}

.cb9 {
    &-inner {
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
    }
    &-shape {
        &-two {
            height: 10px;
            width: 58px;
            background-color: rgba(19, 41, 61, 1);
            top: -10px;
        }
    }
}