{% if is_preview %}
<div class="preview" data-block-name="content-block-nine">
<style>
    .preview-wrapper {
        background-color:#1c2a36;
    }
    .dynamic-hero {
        min-height:30vh;
    }
    img {
        max-width: 100%;
    }
    .block-editor-inner-blocks {
        border:2px solid rgba(30, 162, 224, 0.5);
    }
</style>
{% endif %}

<style>{% htmlcompress %}{{compiled_css}}{{fields.custom_scripts.css}}{% endhtmlcompress %}</style>

<section class="block cb9 pos-r" data-block-name="content-block-nine">
    <div class="container">
        <div class="cb9-title">
            <h2>{{fields.heading}}</h2>
        </div>
        <div class="cb9-inner cls">
            <div class="col cb9-img">
                <img loading="lazy" src="https://aonndpeydo.cloudimg.io/v7/{{Image(fields.image).src}}" alt="{{Image(fields.image).alt}}"/>
            </div>
            <div class="col cb9-content pos-r">
                {{fields.content}}
                <div class="cb9-shape-two pos-a"></div>
            </div>
        </div>
    </div>
    <div class="cb9-bg pos-a"></div>
</section>
<script>{{fields.custom_scripts.javascript}}</script>
{% if is_preview %}
</div>
{% endif %}