.fc2 {
    background: linear-gradient(270deg, #00aab1 1%, #13293d 100%);
    position:relative;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        background: var(--bg);
        background-repeat: no-repeat;
        background-size: contain;
        mix-blend-mode: multiply;
        opacity: 0.65;
        @include from_until(0,1023) {
            z-index: -1;
        }
        @include from_until(1024) {
            width: 450px;
        }
    }
    h3 {
        color:white;
    }
    a {
        color:white;
        text-decoration: none;
    }
    &-inner {
        z-index: 2;
        position: relative;
        padding: 25px;
        @include from_until(1024) {
            padding: 50px;
        }
    }
}