{% if is_preview %}
<div class="preview" data-block-name="fc2">
<style>
    .preview-wrapper {
        background-color:#1c2a36;
    }
    .dynamic-hero {
        min-height:30vh;
    }
    img {
        max-width: 100%;
    }
    .block-editor-inner-blocks {
        border:2px solid rgba(30, 162, 224, 0.5);
    }
</style>
{% endif %}

<style>{% htmlcompress %}{{compiled_css}}{{fields.custom_scripts.css}}{% endhtmlcompress %}</style>

<section class="block fc2" data-block-name="fc2" style="--bg:url({{local_path}}/bg-one.png)">
    <div class="container fc2-inner">
        <div class="fc2-content">
            <div class="fc2-content-inner">
                <div class="fc2-title"><a href="{{fields.link}}"><h3>{{fields.title}}</h3></a></div>
                <div class="fc2-content">
                    <a href="{{fields.link}}">{{fields.content}}</a>
                </div>
            </div>
        </div>
    </div>
</section>


<script>{{fields.custom_scripts.javascript}}</script>
{% if is_preview %}
</div>
{% endif %}