@use "mixins" as *;

.btn {
    color:#00AAB1;
    padding-bottom: 10px;
    border-bottom: 1px solid #00AAB1;
    position:relative;
    transition: all 0.25s ease;
    &:before {
        content:local-image('big-arrow-hover.svg');
        position: absolute;
        right:0;
    }
    &:after {
        position:relative;
        content:local-image('big-arrow.svg');
        margin-left: 30px;
        opacity: 1;
    }
    &:not(.ne) {
        &:hover {
            color:#13293D;
            border-color: #13293D;
            &:after {
                content:local-image('big-arrow-navy.svg');
            }
        }
    }
    &.ne.slider {
        &:hover {
            color:white;
            border-color: white;
            &:after {
                content:local-image('big-arrow-white.svg');
            }
        }
    }
    &-white {
        color:white;
        border-color: white;
        &:after {
            content:local-image('big-arrow-white.svg');
        }
        &:hover {
            color:#00AAB1;
            border-color:#00AAB1;
            &:after {
                content:local-image('big-arrow.svg');
            }
        }
    }
}

@include from_until(1024) {
    .btn {
        font-size: 22px;
    }
}