@use "mixins" as *;

.footer {
    &-wrapper {
        background-color:#13293D;
        @include from_until(1024) {
            border-top: 4px solid #00AAB1;
        }
    }
    &-container {
        padding: 0 30px;
        display: flex;
        flex-wrap: wrap;
    }
    &-logo-container {
        @include from_until(0,1023) {
            display:flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
        }
        .img-wrapper {
            &:first-child {
                margin-bottom:15px;
            }
        }
        .footer-logo {
            @include from_until(0,1023) {
                flex:0 0 45%;
            }
        }
        @include from_until(1024) {

        }
    }
    &-cp-container {
        background-color:#0F2031;
        font-size:9.5px;
        padding: 5px 0;
        span {
            color:#00AAB1;
        }
        a {
            color:#00AAB1;
        }
    }
    a {
        color:white;
    }
}

.footer-info-container {
    @include from_until(0,1023) {
        display: flex;
        flex-direction: row-reverse;
    }
}

@include from_until(0,1023) {
    .footer-container {
        justify-content: space-between;
    }
    .footer-icons {
            display: flex;
            list-style: none;
            padding: 0;
            margin: 0;
        li {
            margin: 0 5px;
        }
        img {
            max-height: 15px;
        }
        &-container {
            position: relative;
            margin-left: 35px;
            &:before {
                height: 19px;
                width: 1px;
                background-color: #00AAB1;
                position: absolute;
                left: -15px;
                top: 0;
                content: "";
            }
        }
    }
    .footer-logo-container {
        padding: 30px 0;
        @include from_until(0.1023) {
            padding-bottom: 0;
        }
        .img-wrapper {
            max-width: 172px;
        }
    }
    .footer-info-container {
        border-top: 1px solid #00AAB1;
        padding: 20px 0;
        width: 100%;
    }
    .img-wrapper {
        max-width: 172px;
        & + & {
            margin-top:17px;
        }
    }
    .footer-logo {
        max-width: 172px;
        margin-bottom: 35px;
    }
    .footer-menu-container {
        margin-left: 20px;
        padding: 30px 0;
        padding-bottom: 0;
    }
}

.footer-email-container {
    font-weight:600;
}

.footer-logo {
    display: block;
    @include from_until(1024) {
        margin: 30px;
    }
}

.footer-menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
    li + li {
        margin:20px 0;
    }

    li {
        position:relative;
        &:before {
            height: 19px;
            width: 2.14px;
            background-color: #00AAB1;
            position: absolute;
            left: -15px;
            top: 0;
            content: "";
        }
    }
}

.footer-menu-link {
    text-transform: uppercase;

}

@include from_until(1024) {
    .footer {
        &-container {
            align-items: center;
            justify-content: space-between;
            padding:0;
        }
        &-icons {
            list-style: none;
            padding: 0;
            margin: 0;
            display:flex;
            li:nth-child(2) {
                margin: 0 25px;
            }
        }
        &-email-container {
            font-size: 20px;
            margin: 20px 0;
            a {
                font-weight: 100;
            }
        }
        &-cp-container {
            background-color: transparent;
            font-size: 14px;
            a {
                color:#00AAB1;
            }
        }
        &-logo {
            margin:3.1vh 0.5vh;
        }
    }
    .footer-menu {
        &-list {
            display: flex;
            flex-wrap: wrap;
            max-width: 400px;
            position:relative;
            flex-direction: column;
            &:after {
                content: " ";
                position: absolute;
                right: -25px;
                top: 0;
                bottom: 0;
                left: calc(100% - -24px);
                background-color: #00AAB1;
            }
        }
        &-item {
            flex: 0 0 50%;
            margin: 10px 0 !important;
            font-size: 22px;
        }
    }
    .img-wrapper {
        &+& {
            margin-top:15px;
        }
    }
}

.footer-logo {
    &.niras {
        display:flex;
        flex-direction: column;
        span {
            font-size: 22px;
        }
    }
}

.footer-menu-container {
    @include from_until(1024) {
        margin-right: 30px;
    }
}