@use "mixins" as *;

.cls {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;

    &-wrap {
        flex-wrap: wrap;
    }

    &-top {
        align-items: flex-start;
    }

    &-bot {
        align-items: flex-end;
    }

    &-center {
        align-items: center;
    }
}

.col {
    display: block;
    flex: 1 1 auto;
    margin-left: 0;
    max-width: 100%;
    width: 100%;

    &-25 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    &-33 {
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
    }

    &-40 {
        flex: 0 0 40%;
        max-width: 40%;
    }

    &-50 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    &-60 {
        flex: 0 0 60%;
        max-width: 60%;
    }

    &-75 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    &-offset-10 {
        margin-left: 10%;
    }

    &-offset-20 {
        margin-left: 20%;
    }

    &-offset-25 {
        margin-left: 25%;
    }

    &-offset-33 {
        margin-left: 33.3333%;
    }

    &-offset-40 {
        margin-left: 40%;
    }

    &-offset-50 {
        margin-left: 50%;
    }

    &-offset-60 {
        margin-left: 60%;
    }

    &-offset-66 {
        margin-left: 66.6666%;
    }

    &-offset-75 {
        margin-left: 75%;
    }
}

// Safari desktop has a bug using `rem`, but Safari mobile works
@media (min-width: 40rem) {
    .cls {
        flex-direction: row;
        // margin-left: -1rem;
        // width: calc(100% + 2rem);
    }
    .col {
        margin-bottom: inherit;
        padding: 0 1rem;
    }
}
