@use "mixins" as *;

body {
    background-color: rgba(19, 41, 61, 0.05);
    // overflow-x: hidden;
}

html:not(.menu-open) .menu-listm {
    transform: translateY(-100%);
}

.nav-toggler {
    flex-grow: 1;
    position: relative;
    height: 100%;
}

.header {
    z-index: 50;
    position: relative;
    &-wrapper {
        margin: 0 25px;
        @include from_until(1024) {
            margin: 0;
        }
    }
    
    &-container {
        @include from_until(1441) {
            margin-right: 10vw;
        }
        &:before {
            @include from_until(1024) {
                content: " ";
                background-color: white;
                position: absolute;
                top: 0;
                bottom: 0;
                right:0;
                box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
            }
            @include from_until(1024,1600) {
                // left:5px;
                min-width: 98vw;
            }
            @include from_until(1601,1920) {
                // left:19vw;
                min-width: 1536px;
            }
            @include from_until(1921,) {
                // left:19vw;
                width: 80vw;
            }
        }
    }
}

.logo-container {
    position: relative;
    display: flex;
    align-items: center;
    height: 158px;
    padding: 0 25px;
    z-index: 15;
    @include from_until(0,1023) {
        background-color: white;
    }
    &:before {
        content: " ";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        box-shadow: 0px 3px 6px #00000029;
        opacity: 0.85;
        z-index: -1;
        @include from_until(1024) {
            content:none;
        }
    }
    img {
        max-height: 103px;
        @include from_until(1024) {
            // max-height: 60px;
        }
    }
    a {
        padding-top: 10px;
    }
}

.menu-item {
    & > .menu-item-holder {
        & > .menu-link {
            border-left: 3px solid #13293D;
            padding-left: 10px;
        }
    }
}

.menu {
    &-link {
        transition: all .2s ease;
        color: #00aab1;
        font-size: 22px;
        display: inline-block;
        text-align: center;
        text-transform: uppercase;
        // &:before {
        //     display: block;
        //     content: attr(data-text);
        //     font-weight: 600;
        //     height: 0;
        //     overflow: hidden;
        //     visibility: hidden;
        // }
        &:hover {
            font-weight: 600;
        }
        &.active {
            @include from_until(1024) {
                color:#13293D;
                font-weight: 600;
            }
        }
    }
    &-item {
        @include from_until(1024) {
            position:relative;
            padding: 15px 0;
        }
        &-holder {
            .menu-link {
                &:before {
                    display: block;
                    content: attr(data-text);
                    font-weight: 600;
                    height: 0;
                    overflow: hidden;
                    visibility: hidden;
                }
            }
        }
    }
    &-list {
        list-style: none;
        margin: 0;
        text-align: center;
        display: flex;
        justify-content: space-between;
    }
    &-container {
        flex-grow: 1;
        @include from_until(1024) {
            margin-top: 40px;
        }
    }
    &-logo {
        @include from_until(1024) {
            display:flex;
            padding: 10px 0;
        }
    }
}

.menu {
    &-listm {
        list-style: none;
        margin: 0;
        padding: 25px 50px;
        transition: all 0.35s cubic-bezier(1, 0, 0, 1);
        background-color: #00aab1;
        position: absolute;
        top: 158px;
        bottom: 0;
        right: 25px;
        left: 25px;
        height: max-content;
        z-index: 10;
        text-transform: uppercase;
        overflow: hidden;
    }
    &-itemm {
        margin: 0;
        &-holder {
            position: relative;
            &.sub {
                display: flex;
                justify-content: space-between;
            }
            .chevron {
                flex-grow:1;
                &:before {
                    font-family: "icomoon";
                    content: "\e901";
                    color: white;
                    font-size: 30px;
                    line-height: 30px;
                    position: absolute;
                    right: 40px;
                    top: -3px;
                }
            }
        }
        &:not(:last-child) {
            margin-bottom: 25px;
        }
        &:not(.submenu-open) {
            .submenu-holder {
                transform: translateX(120%);
            }
        }
    }
    &-linkm {
        font-size: 22px;
        color: white;
        position: relative;
        &:before {
            height: 19px;
            width: 3.13px;
            background-color: #13293d;
            position: absolute;
            left: -18px;
            top: 7px;
            content: "";
        }
    }
}

.burger {
    cursor: pointer;
    height: 38px;
    width: 45px;
    top: 50%;
    right: 0;
    transform: rotate(180deg);
    position: absolute;
    transform-origin: center;
    transition-duration: 200ms;
    transition-property: background-color, opacity, transform;
    transition-timing-function: ease-out;
    span {
        position: absolute;
        display: block;
        height: 4px;
        &:nth-child(1) {
            width: 37px;
            background-color: #00aab1;
            top: calc(50% - 16px);
        }
        &:nth-child(2) {
            width: 45px;
            background-color: #00aab1;
            top: calc(50% - 0px);
        }
        &:nth-child(3) {
            width: 37px;
            background-color: #13293d;
            top: calc(50% + 16px);
        }
    }
}

html.menu-open .burger {
    transform: rotate(90deg);
}

.menu-item {
    &.sub:not(:hover) {
        .submenu-dholder {
            max-height: 0;
        }
    }
    &.sub:hover {
        .submenu-dholder {
            max-height: 1000px;
        }
    }
}

.submenu {
    list-style: none;
    padding: 10px 25px;
    @include from_until(1024) {
        padding:20px;
        width: max-content;
    }
    &-dholder {
        transition: all .25s ease;
        overflow: hidden;
        border-left: 3px solid #13293D;
        position: absolute;
        top: 44px;
        text-align: left;
        background-color: white;
        z-index: 10;
    }
    &-holder {
        margin: 0 25px;
        padding-top:10px;
        transition: all 0.60s cubic-bezier(1, 0, 0, 1);
        background-color: #00aab1;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 11;
        .chevron {
            padding-top: 10px;
            padding-bottom: 15px;
            margin-bottom: 25px;
            border-bottom: 1px solid #13293D;
            position:relative;
            &:before {
                font-family: "icomoon";
                content: "\e901";
                font-size: 30px;
                line-height: 30px;
                position: absolute;
                top: 0;
                bottom: 12px;
                left: 0;
                transform: rotate(180deg);
            }
        }
        .return {
            font-size: 22px;
            margin: 25px;
        }
    }
}

.nav-drop-item {
    padding: 7px 0;
    .menu-link {
        text-transform: uppercase;
    }
    &:not(:last-child) {
        border-bottom: 1px solid rgba(0, 170, 177, 0.25);
    }
}

.menu-closer {
    z-index: 12;
    position: absolute;
    right: 34px;
    top: 15px;
    .closer {
        &:before {
            content: "\e904";
            font-family: "icomoon";
            font-size: 30px;
        }
    }
}