@use "mixins" as *;

body {
    margin:0;
}

.dbg {
    position: absolute;
    bottom: 0;
    right: 0;
    left:0;
    &[bg-type^=color] {
        background-color:var(--bg-color);
    }
    &[bg-type^=image] {
        background:var(--bg-img);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        &:after {
            content: " ";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #13293D;
            opacity: 0.75;
            mix-blend-mode: multiply;
        }
    }
}

@include from_until(1024) {
    .dbg {
        &-one {
            max-width: 1618px;
            margin-left: auto;
        }
        &-two {
            max-width: 1618px;
            margin-left: auto;
        }
    }
}


ul,
ol {
    &:not(.rl) {
        li {
            font-size: 16px;
            line-height: 22px;
            @include from_until(1024) {
                font-size: 20px;
                line-height: 30px;
            }
        }
    }
}

.pos {
    &-r {
        position:relative;
    }
    &-a {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}