@use "mixins" as *;

@font-face {
    font-family: "icomoon";
    src: url("/wp-content/themes/dolmen-engineering/fonts/icomoon.ttf") format("truetype");
    src: url("/wp-content/themes/dolmen-engineering/fonts/icomoon.woff") format("woff");
    src: url("/wp-content/themes/dolmen-engineering/fonts/icomoon.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Kanit";
    src: url("/wp-content/themes/dolmen-engineering/fonts/Kanit-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Kanit";
    src: url("/wp-content/themes/dolmen-engineering/fonts/Kanit-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Kanit";
    src: url("/wp-content/themes/dolmen-engineering/fonts/Kanit-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}


html {
    color:#13293D;
    font-family: "Kanit", "sans-serif";
    font-weight:300;
    font-size: 16px;
    @include from_until(1024) {
        font-size: 25px;
    }
}

h5,
h4,
h3,
h2,
h1 {
    font-family: "Kanit", "sans-serif";
    font-weight:600;
    color:#13293D;
}

h1 {
    font-size: 35px;
    @include from_until(1024) {
        font-size: 55px;
    }
}

h2 {
    font-size: 25px;
    @include from_until(1024) {
        font-size: 45px;
    }
}

h3 {
    font-size: 20px;
    @include from_until(1024) {
        font-size: 35px;
    }
}

h4 {
    font-size: 18px;
    @include from_until(1024) {
        font-size: 25px;
    }
}

h5 {
    font-size: 16px;
    @include from_until(1024) {
        font-size: 25px;
    }
}

p {
    line-height: 22px;
    @include from_until(1024) {
        font-size: 20px;
        line-height: 30px;
    }
}