.hbo {
    padding: 55px;
    position: relative;
    h1 {
        font-weight: 300;
        margin-bottom: 0;
    }
    strong {
        font-weight: 600;
    }
}

.dbg-one {
    top: -158px;
}

.hbo {
    &-shape {
        position: absolute;
        right: 0;
        bottom: -5vh;
        overflow: hidden;
        @include from_until(0,1023) {
            height:69px;
            left: 65%;
            bottom: -34px;
        }
        img {
            height: 100%;
            object-fit: cover;
            max-width: 65vw;
        }
    }
}

@include from_until(1024) {
    .hbo {
        padding: 0;
        &-content {
            // padding-top: 175px;
            // padding-bottom: 100px;
            max-width: 1100px;
        }
        &-button {
            padding-top: 50px;
            padding-bottom: 70px;
        }
        &-shape {
            position: absolute;
            right: 0;
            bottom: -5vh;
        }
        &-bg {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }
    .dbg-one {
        top: -178px;
    }
}

.hbo {
    &-inner {
        @include from_until(1024) {
            min-height: 600px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        @include from_until(1537) {
            padding-left: 7.3vw;
        }
    }
}

.hbo {
    &.variation-one {
        .dbg {
            @include from_until(1024) {
                max-width:none;
            }
        }
    }
}