{% if is_preview %}
<div class="preview" data-block-name="hbo">
<style>
    .preview-wrapper {
        background-color:#1c2a36;
    }
    .dynamic-hero {
        min-height:30vh;
    }
    img {
        max-width: 100%;
    }
    .block-editor-inner-blocks {
        border:2px solid rgba(30, 162, 224, 0.5);
    }
</style>
{% endif %}

<style>
{% htmlcompress %}
{{compiled_css}}
{{fields.custom_scripts.css}}
{% endhtmlcompress %}
[data-block-name="hero-block-one"] h1 {
    color:{{fields.text_color}};
}
</style>

<section class="block hbo {{block.className}}" data-block-name="hero-block-one">
    <div class="dbg dbg-one" {% if fields.background.type == "color" %} bg-type="color" style="--bg-color:{{fields.background.color}};" {% elseif fields.background.type == "image" %} bg-type="image" style="--bg-img:url(https://aonndpeydo.cloudimg.io/v7/{{Image(fields.background.image).src}});" {% endif %}></div>
    <div class="container hbo-inner bg-white">
        <div class="hbo-content row" style="color:{{fields.text_color}} !important;">
            {{fields.content}}
        </div>
        <div class="hbo-button row">
            <a href="{{fields.button.destination.url}}" class="btn {{fields.button.type}}">{{fields.button.button_text}}</a>
        </div>
    </div>
        <div class="hbo-shape">
            <img loading="lazy" width="1197" height="94" src="{{local_path}}/shape-one.svg" alt="Shape"/>
        </div>
</section>
<script>{{fields.custom_scripts.javascript}}</script>

{% if is_preview %}
</div>
{% endif %}