{% if is_preview %}
<div class="preview" data-block-name="cb11">
<style>
    .preview-wrapper {
        background-color:#1c2a36;
    }
    .dynamic-hero {
        min-height:30vh;
    }
    img {
        max-width: 100%;
    }
    .block-editor-inner-blocks {
        border:2px solid rgba(30, 162, 224, 0.5);
    }
</style>
{% endif %}

<style>{% htmlcompress %}{{compiled_css}}{{fields.custom_scripts.css}}{% endhtmlcompress %}</style>

<section class="block cb11 {{block.className}}" data-block-name="cb11">
    <div class="dbg dbg-two bg-color" bg-type="color" style="--bg-color:#ffffff;"></div>
    <div class="container cb11-inner bg-white">
        <div class="cb11-heading row">
            <h2>{{fields.title}}</h2>
        </div>
        <div class="cb11-wrapper">
            <div class="left">
                <img src="https://aonndpeydo.cloudimg.io/v7/{{Image(fields.image).src}}?func=fit&w=430&h=430"  height="430" width="430" alt="{{Image(fields.image).alt}}">
            </div>
            <div class="right">
                <div class="cb11-content row">
                    {{fields.content}}
                <div class="hbo-button row">
                    <a href="{{fields.button.destination.url}}" class="btn {{fields.button.type}}">{{fields.button.button_text}}</a>
                </div>
            </div>
        </div>
        </div>
        <div class="cb11-shape">
            <img loading="lazy" width="1197" height="94" src="https://aonndpeydo.cloudimg.io/v7/{{local_path}}/shape-one.svg" alt="Shape"/>
        </div>
        <div class="cb11-shape-two">
        </div>
    </div>
</section>
<script>{{fields.custom_scripts.javascript}}</script>
{% if is_preview %}
</div>
{% endif %}