<div class="footer-wrapper">
    <div class="footer-decoration"></div>
    <div class="footer-container container">
        <div class="footer-logo-container">
            <a href="/" class="footer-logo"><img loading="lazy" width="190" height="115" src="{{ Image(footer_logo).src}}" alt="{{ site.title }} Logo"></a>
            <a href="https://www.niras.com/" target="__blank" class="footer-logo niras hide-desktop">
                <img loading="lazy" width="192" height="60" src="https://aonndpeydo.cloudimg.io/v7/{{ local_child_image('niras.svg')}}" alt="Niras Logo">
                <span>www.niras.com/</span>
            </a>
            <div class="img-wrapper hide-desktop">
                <img loading="lazy" src="https://aonndpeydo.cloudimg.io/v7/{{ local_child_image('eu-banner-one.png')}}" alt="EU Banner One">
            </div>
            <div class="img-wrapper hide-desktop">
                <img loading="lazy" src="https://aonndpeydo.cloudimg.io/v7/{{ local_child_image('eu-banner-two.png')}}" alt="EU Banner Two">
            </div>
        </div>
        <div class="footer-logo-container hide-mobile">
            <a href="https://www.niras.com/" target="__blank" class="footer-logo niras">
                <img loading="lazy" src="https://aonndpeydo.cloudimg.io/v7/{{ local_child_image('niras.svg')}}" alt="Niras Logo">
                <span>www.niras.com/</span>
            </a>
        </div>
        <div class="footer-menu-container">
            <div class="footer-menu">{% include "footer-menu.twig" with {'items': footer_primary_menu.get_items} %}</div>
        </div>
        <div class="footer-info-container">
            <div class="footer-icons-container">
                <ul class="footer-icons">
                    <li><a href="https://www.linkedin.com/company/dolmen-engineering/" target="__blank"><img loading="lazy" src="{{ local_child_image('linkedin.svg')}}" alt="LinkedIn"/></a></li>
                </ul>
            </div>
            <div class="footer-email-container">
                <a href="mailto:info@dolmenengineering.com">info@dolmenengineering.com</a>
            </div>
            <div class="footer-cp-container hide-mobile">
                <a href="mailto:info@dolmenengineering.com">© DOLMEN ENGINEERING</a><span> | </span><a href="/privacy-policy/">Privacy Policy</a>
            </div>
        </div>
        <div class="footer-banner-container hide-mobile">
            <div class="img-wrapper">
                <img loading="lazy" src="https://aonndpeydo.cloudimg.io/v7/{{ local_child_image('eu-banner-one.png')}}" alt="EU Banner One">
            </div>
            <div class="img-wrapper ">
                <img loading="lazy" src="https://aonndpeydo.cloudimg.io/v7/{{ local_child_image('eu-banner-two.png')}}" alt="EU Banner Two">
            </div>
        </div>
    </div>
</div>
<div class="footer-cp-container hide-desktop">
    <ul>
        <li><span>© DOLMEN ENGINEERING</span></li>
    </ul>
</div>

<script>
 var menuLinks = document.querySelectorAll('.menu-link');
 [...menuLinks].forEach((link) => {
    let path = link.href.replace(document.location.origin, '');
    console.log(path);
    console.log(document.location.pathname);
    if(path == document.location.pathname) {
        link.classList.toggle('active');
    }
 });
</script>