<link rel="stylesheet" href="{{ static_path }}/static/css/main.min.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/wp-content/themes/dolmen-engineering/static/main.min.css" type="text/css" media="screen" />