{% extends "index.twig" %}

{% block content %}
<link rel="stylesheet" href="/wp-content/themes/dolmen-engineering/static/cs-index.css" type="text/css" media="screen" />
<div class="cs-body cs-index">
    <div class="cs-hero">
        <div class="cs-hero-inner container row">
            <div class="cs-hero-content">
                <h1>CASE STUDIES</h1>
            </div>
        </div>
    </div>
    <div class="cs-shape">
        <img loading="lazy" src="/wp-content/themes/dolmen-engineering/blocks/hero-one/shape-one.svg" alt="Shape">
    </div>
    <div class="cs-body-cntr  pos-r">
		<div class="cs-body-inner container">
			<div class="cs-content">
				{% for post in posts %}
				<div class="cs-section pos-r">
					<div class="cs-inner cls">
						<div class="col-33">
                            <div class="col"><img loading="lazy" class="cs-fi" src="{{ post.thumbnail.src }}" alt="{{post.thumbnail.alt}}" /></div>
                        </div>
						<div class="col-60">
                            <h4>{{post.title}}</h4>
                            <p>{{post.preview.read_more('')}}</p>
                            <div class="cs-button row">
                                <a href="{{post.link}}" class="btn btn-primary">FIND OUT MORE</a>
                            </div>
                        </div>
					</div>
					<div class="cs-section-shape pos-a"></div>
				</div>
				{% endfor %}
			</div>
		</div>
    </div>
</div>
{% endblock %}