<ul class="footer-menu-list">
{% for item in items %}
    <li class="footer-menu-item {% if item.children %}sub{% endif %}">
        <div class="footer-menu-item-holder"> 
            <a class="footer-menu-link" href="{{item.link}}" target="{{item.target}}" data-text="{{item.title}}">{{item.title}}</a>
        </div>
    </li>
{% endfor %}
</ul>