<ul class="menu-list hide-mobile">
{% for item in items %}
    <li class="menu-item {% if item.children %}sub{% endif %}">
        <div class="menu-item-holder"> 
            <a class="menu-link" href="{{item.link}}" {% if fn('get_field','new_tab', item.id) %}target="_blank"{% endif %} data-text="{{item.title}}">{{item.title}}</a>
        </div>
    {% if item.children %}
    <div class="submenu-dholder">
         <ul class="submenu">
        {% for child in item.children %}
             <li class="nav-drop-item">
                <a class="menu-link" href="{{ child.link }}" target="{{child.target}}" data-text="{{child.title}}">{{child.title}}</a>
            </li>
        {% endfor %}
         </ul>
    </div>
    {% endif %}
    </li>
{% endfor %}
</ul>

<ul class="menu-listm hide-desktop">
<li class="menu-closer" onclick="document.getElementsByTagName('HTML')[0].classList.toggle('menu-open');"><span class="closer"></span></li>
{% for item in items %}
    <li class="menu-itemm">
        <div class="menu-itemm-holder {% if item.children %}sub{% endif %}">
            {% if item.children %}
            <div class="menu-itemm-link">
                <a class="menu-linkm" href="{{item.link}}" target="{{item.target}}" >{{item.title}}</a>
            </div>
            <div class="chevron" onclick="this.parentNode.parentNode.classList.toggle('submenu-open');"></div>
            {% else %}
            <div class="menu-itemm-link">
                <a class="menu-linkm" href="{{item.link}}" target="{{item.target}}" >{{item.title}}</a>
            </div>
            {% endif %}
        </div>
    {% if item.children %}
    <div class="submenu-holder">
        <div class="chevron" onclick="this.parentNode.parentNode.classList.toggle('submenu-open');"><span class="return">RETURN</span></div>
        <ul class="submenu">
        {% for child in item.children %}
            <li class="menu-itemm">
                <div class="menu-itemm-link">
                    <a class="menu-linkm" href="{{ child.link }}" target="{{child.target}}" >{{ child.title }}</a>
                </div>
            </li>
        {% endfor %}
         </ul>
    </div>
    {% endif %}
    </li>
{% endfor %}
</ul>