{% extends "base.twig" %}

{% block content %}
<link rel="stylesheet" href="/wp-content/themes/elite/static/blog.css" type="text/css" media="screen" />
<div class="post-body">
    <div class="post-hero">
        <div class="post-hero-inner container row">
            <div class="left">
                <h5>{{category.name}}</h5>
                <h1>{{ post.title }}</h5>
                <span class="date">published on 25 April 2022</span>
            </div>
            <div class="right">
				<img loading="lazy" class="post-image-desktop" src="{{ post.thumbnail.src }}" alt="{{post.thumbnail.alt}}" />
            </div>
        </div>
    </div>
    <div class="post-body-inner container">
        <div class="post-content">
            {{post.content}}
        </div>
    </div>
</div>
{% endblock %}