{% extends "base.twig" %}

{% block content %}
<link rel="stylesheet" href="/wp-content/themes/dolmen-engineering/static/cs.css" type="text/css" media="screen" />
<div class="cs-body">
    <div class="cs-hero">
        <div class="cs-hero-inner container row">
            <div class="cs-hero-content">
                <span>Case Studies</span>
            </div>
        </div>
    </div>
    <div class="cs-shape">
        <img loading="lazy" src="/wp-content/themes/dolmen-engineering/blocks/hero-one/shape-one.svg" alt="Shape">
    </div>
    <div class="cs-body-cntr  pos-r">
		<div class="cs-body-inner container">
			<div class="cs-header cls">
				<div class="col"><img loading="lazy" class="cs-fi pos-a" src="{{ post.thumbnail.src }}" alt="{{post.thumbnail.alt}}" /></div>
				<div class="col cs-header-content">
					<h1>{{post.title}}</h1>
					<div class="cs-info">
						<ul class="rl cs-info-list">
							<li class="cls">
								<div class="col-25 label">Client:</div>
								<div class="col value">{{fields.client}}</div>
							</li>
							<li class="cls">
								<div class="col-25 label">Location:</div>
								<div class="col value">{{fields.location}}</div>
							</li>
							<li class="cls">
								<div class="col-25 label">Sector:</div>
								<div class="col value">{{fields.sector}}</div>
							</li>
							<li class="cls">
								<div class="col-25 label">Status:</div>
								<div class="col value">{{fields.status}}</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="cs-content">
				{% for section in fields.sections %}
				<div class="cs-section pos-r">
					<div class="cs-inner cls">
						<div class="col-33"><h3>{{section.title}}</h3></div>
						<div class="col">{{section.content}}</div>
					</div>
					{% if section.images|length > 0 %} 
					<div class="cs-images cls">
					{% for img in section.images %}
						<div class="cs-image col">
							<img loading="lazy" class="cs-image-desktop" src="{{Image(img).src}}" alt="{{img.alt}}" />
						</div>
					{% endfor %}
					</div>
					{% endif %}
					<div class="cs-section-shape pos-a"></div>
				</div>
				{% endfor %}
			</div>
			<div class="fc2-outer">
				<section class="block fc2" data-block-name="fc2" style="--bg:url('/wp-content/themes/dolmen-engineering/blocks/footer-cta-one/bg-one.png')">
					<div class="container fc2-inner">
						<div class="fc2-content">
							<div class="fc2-content-inner">
								<a{% if fields.cta_link.url %} href="{{fields.cta.link.url}}" target="{{fields.cta_link.target}}"{% endif %}>
									<p>{{fields.cta_content}}</p>
								</a>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
    </div>
</div>
{% endblock %}
