.is1 {
    position: relative;
    &-button {
        padding-bottom: 70px;
    }
    .dbg-one {
        top: -158px;
    }
}

.is1 {
    .dbg-two {
        z-index: -2;
        top: 0;
        @include from_until(0,1023) {
            left: 0;
        }
    }
    &-inner {
        align-items: flex-start;
        position: relative;
        @include from_until(0,1023) {
            padding: 7vh 13vw;
        }
        @include from_until(1024) {
            padding-left: 6vw;
            padding-top: 15vh;
            padding-bottom: 15vh;
        }
        @include from_until(1440, 1535) {
            padding-left: 2.8vw;
        }
        @include from_until(1536, 1536) {
            padding-left: 0;
        }
        @include from_until(1537) {
            padding-left: 3.8vw;
        }
    }
    &-shape {
        position: absolute;
        right: 0;
        bottom: -52px;
        &-two {
            position: absolute;
            bottom: 0;
            background-color: #13293d;
            left: 0;
            @include from_until(0,1023) {
                height: 5.18px;
                width: 30.48px;
                top: -5px;
            }
            @include from_until(1024) {
                height: 10px;
                width: 50px;
                top: -10px;
            }
        }
    }
    &-content {
        max-width: 450px;
        margin-right: 7.5vw;
    }
    &-services {
        flex-grow: 1;
        max-width: 600px;
        position: relative;
        margin-top: 50px;
    }
    .service {
        &-item {
            padding: 15px 20px;
            border-bottom: 1px solid black;
            position: relative;
            cursor: pointer;
            &:first-child {
                border-top: 1px solid black;
            }
            &:after {
                font-family: "icomoon";
                content: "\e901";
                color: #00aab1;
                position: absolute;
                right: 20px;
                @include from_until(0,1023) {
                    font-size: 20px;
                    line-height: 19px;
                }
                @include from_until(1024) {
                    font-size: 45px;
                    line-height: 53px;
                }
            }
            &:hover {
                .service-link {
                    color: #13293d;
                }
                &:after {
                    color: #13293d;
                }
            }
        }
        &-link {
            transition: all .2s ease;
            color: #00aab1;
            font-weight: 500;
            @include from_until(0,1023) {
                font-size: 20px;
                line-height: 19px;
            }
            @include from_until(1024) {
                font-size: 35px;
                line-height: 53px;
            }
        }
    }
}

// @include from_until(1024) {
//     .is1 {
//         .dbg-two{
//             top: 0;
//             left: 14.8vw;
//             z-index:-2;
//         }
//         &-inner {
//             align-items: flex-start;
//             padding-left: 3.8vw;
//             padding-top: 15vh;
//             padding-bottom: 15vh;
//             position: relative;
//         }
//         &-shape {
//             position: absolute;
//             right: 0;
//             bottom: -52px;
//             &-two {
//                 position: absolute;
//                 bottom: 0;
//                 background-color: #13293d;
//                 height: 10px;
//                 width: 50px;
//                 top: -10px;
//                 left: 0;
//             }
//         }
//         &-content {
//             max-width: 450px;
//             margin-right: 7.5vw;
//         }
//         &-services {
//             flex-grow: 1;
//             max-width: 600px;
//             position:relative;
//             margin-top:50px;
//         }
//         .service {
//             &-item {
//                 padding: 15px 20px;
//                 border-bottom: 1px solid black;
//                 position:relative;
//                 cursor: pointer;
//                 &:first-child {
//                     border-top: 1px solid black;
//                 }
//                 &:after {
//                     font-family: "icomoon";
//                     content: "\e901";
//                     color: #00AAB1;
//                     font-size: 45px;
//                     line-height: 53px;
//                     position: absolute;
//                     right: 20px;

//                 }
//                 &:hover {
//                     .service-link {
//                         color:#13293D;
//                     }
//                     &:after {
//                         color:#13293D;
//                     }
//                 }
//             }
//             &-link {
//                 color: #00AAB1;
//                 font-size: 35px;
//                 line-height: 53px;
//                 font-weight: 500;
//             }
//         }
//     }
// }
