{% if is_preview %}
<div class="preview" data-block-name="icon-strip-one">
<style>
    .preview-wrapper {
        background-color:#1c2a36;
    }
    .dynamic-hero {
        min-height:30vh;
    }
    img {
        max-width: 100%;
    }
    .block-editor-inner-blocks {
        border:2px solid rgba(30, 162, 224, 0.5);
    }
</style>
{% endif %}

<style>{% htmlcompress %}{{compiled_css}}{{fields.custom_scripts.css}}{% endhtmlcompress %}</style>

<section class="block is1" data-block-name="icon-strip-one">
    <div class="dbg dbg-two bg-color" bg-type="color" style="--bg-color:#ffffff;"></div>
    <div class="container is1-inner row">
        <div class="is1-content">
            <div class="is1-heading row">
                <h2>{{fields.heading}}</h2>
            </div>
            <div class="is1-body row">
                {{fields.content}}
            </div>
        </div>
        <div class="is1-services">
            <div class="is1-shape-two"></div>
            <ul class="rl is1-services-inner">
                {% for service in fields.services %}
                    <li class="service-item">
                        <a class="service-link" href="{{service.link.url}}" target="{{service.link.target}}">{{service.link.title}}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
<script>{{fields.custom_scripts.javascript}}</script>
{% if is_preview %}
</div>
{% endif %}
