.cb10 {
    background: white;
    h2 {
        @include from_until(1024) {
            font-size: 42px;
            line-height: 56px;
            padding-left: 16px;
            margin-top: 0;
            margin-bottom: 0;
        }
    }
    h4 {
        color: rgba(0, 170, 177, 1);
        margin-top: 0;
    }
    .container {
        background-color: white;
        padding: 20px;
        @include from_until(1024) {
            padding:0;
        }
    }
    &-bg {
        @include from_until(1024) {
            left: unset;
            background-color: white;
            width: 1000px;
            z-index: -1;
        }
    }
    &-title {
        @include from_until(0,1023) {
            padding: 20px;
            padding-bottom: 0;
        }
    }
    &-content {
        padding:20px;
    }
}

.cb10 {
    &-inner {
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
        @include from_until(1024) {
            padding: 60px 50px;
        }
    }
    & > .container {
        @include from_until(1024) {
            padding-bottom: 100px;
        }
    }
}