{% if is_preview %}
<div class="preview" data-block-name="content-block-ten">
<style>
    .preview-wrapper {
        background-color:#1c2a36;
    }
    .dynamic-hero {
        min-height:30vh;
    }
    img {
        max-width: 100%;
    }
    .block-editor-inner-blocks {
        border:2px solid rgba(30, 162, 224, 0.5);
    }
</style>
{% endif %}

<style>{% htmlcompress %}{{compiled_css}}{{fields.custom_scripts.css}}{% endhtmlcompress %}</style>

<section class="block cb10 pos-r" data-block-name="content-block-ten">
    <div class="container">

        <div class="cb10-inner">
            <div class="cb10-title">
                <h2>{{fields.heading}}</h2>
            </div>
            <div class="cb10-content pos-r">
                {{fields.content}}
            </div>
        </div>
    </div>
    <div class="cb10-bg pos-a"></div>
</section>
<script>{{fields.custom_scripts.javascript}}</script>
{% if is_preview %}
</div>
{% endif %}