.sebo {
    position: relative;
    &:before {
        @include from_until(1024) {
            content: "";
            position: absolute;
            top: 0;
            left: 25px;
            width: 500px;
            height: 500px;
            background: url("/wp-content/themes/dolmen-engineering/blocks/sector-block-one/bg-one.png");
            background-size: contain;
            background-repeat: no-repeat;
            opacity: 0.15;
            z-index: 1;
        }
    }
    &-inner {
        padding: 25px 0;
        position: relative;
        z-index: 2;
        @include from_until(1024) {
            padding: 90px 0;
        }
    }
    &-shape {
        position: absolute;
        right: 0;
        bottom: -52px;
        &-two {
            position: absolute;
            bottom: 0;
            background-color: rgba(0, 170, 177, 1);
            top: -5px;
            left: 0;
            height: 5.18px;
            width: 30.48px;
            @include from_until(1024) {
                top: -10px;
                height: 10px;
                width: 50px;
            }
        }
    }
    &-heading {
        &-container {
            position: relative;
            padding-left: 3.8vw;
            padding-bottom: 25px;
            @include from_until(1024) {
                padding-left: 6vw;
            }
            @include from_until(1537) {
                padding-left: 3.8vw;
            }
        }
        h2 {
            color: white;
            text-transform: uppercase;
        }
    }

    &-content {
        position: relative;
        @include from_until(0,1023) {
            margin-bottom: 35px;
        }
        &-inner {
            @include from_until(1024) {
                position: absolute;
                top: -150px;
            }
        }
        &-body {
            @include from_until(1024) {
                padding-right: 60px;
            }
            h4 {
                margin-bottom: 0;
            }
        }
    }

    &-sectors {
        background-color: white;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
        @include from_until(0, 1023) {
            flex-direction: column-reverse;
            padding:30px;
            margin: 0 25px;
        }
        @include from_until(1024) {
            padding: 60px 4.5vw;
            padding-right: 0;
            justify-content: space-between;
        }
        @include from_until(1537) {
            padding: 60px 55px;
            padding-right: 0;
        }
    }

    &-button {
        padding-top: 35px;
        justify-content: end;
    }

    .sector {
        &-item {
            padding: 17px 20px;
            border-bottom: 1px solid rgba(19, 41, 61, 0.1);
            position: relative;
            &:last-child {
                border-bottom: none;
            }
            &:after {
                font-family: "icomoon";
                content: "\e901";
                color: #00aab1;
                font-weight: 400;
                position: absolute;
                right: 20px;
                @include from_until(0,1023) {
                    font-size: 16px;
                    line-height: 19px;
                }
                font-size: 25px;
                line-height: 35px;
                top: 50%;
                transform: translate(0,-50%);
            }
            &.active {
                font-weight: 600;
            }
        }
        &-link {
            transition: all .2s ease;
            color: #13293d;
            font-size: 18px;
            line-height: 19px;
            cursor: pointer;
            max-width: 94%;
            display: block;
            @include from_until(1024) {
                font-size: 25px;
                line-height: 35px;
            }
            &:hover {
                color: #13293d;
            }
        }
    }

    &-list {
        @include from_until(1024) {
            padding-right: 50px;
            flex-grow: 1;
            max-width: 50%;
        }
    }

    &-content {
        @include from_until(1024) {
            flex: 0 0 605px;
        }
    }
    &-img {
        @include from_until(0,1023) {
            width: 100%;
            height: auto;
        }
    }

    .dbg {
        &-two {
            top:0;
        }
        &-three {
            top: 0;
            bottom: 50%;
            right: 20%;
            height: 525px;
            background: linear-gradient(-60deg, #00aab1 1%, #13293d 100%);
            @include from_until(1024) {
                background: linear-gradient(107deg, #00aab1 1%, #13293d 100%);
                right: 450px;
            }
        }
        &-four {
            top: 525px;
            max-width: 1618px;
            margin-left: auto;
        }
    }
}
