{% if is_preview %}
<div class="preview" data-block-name="sebo">
<style>
    .preview-wrapper {
        background-color:#1c2a36;
    }
    .dynamic-hero {
        min-height:30vh;
    }
    img {
        max-width: 100%;
    }
    .block-editor-inner-blocks {
        border:2px solid rgba(30, 162, 224, 0.5);
    }
</style>
{% endif %}

<style>{% htmlcompress %}{{compiled_css}}{{fields.custom_scripts.css}}{% endhtmlcompress %}</style>

<section class="block sebo" data-block-name="sebo" style="--bg:url('{{local_path}}/bg-one.png')">
    <div class="dbg dbg-two bg-color" bg-type="color" style="--bg-color:#ffffff;"></div>
    <div class="dbg dbg-three bg-color" bg-type="color"></div>
    <div class="dbg dbg-four bg-color" bg-type="color" style="--bg-color:#ffffff;"></div>
    <div class="container sebo-inner">
        <div class="sebo-heading-container">
            <div class="sebo-heading">
                <h2>{{fields.heading}}</h2>
            </div>
            <div class="sebo-body row">
                {{fields.content}}
            </div>
        </div>
        <div class="sebo-sectors row">
            <div class="sebo-shape-two hide-mobile"></div>
            <div class="sebo-list">
                <ul class="rl sebo-sectors-inner">
                    {% for sector in fields.sectors %}
                        <li class="sector-item {% if loop.first %}active{% endif %}" data-item="{{loop.index}}">
                            <a class="sector-link" onclick="toggleTab(this);">{{sector.title}}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="sebo-content">
                <ul class="rl sebo-sectors-content">
                    {% for sector in fields.sectors %}
                        <li class="sector-item-content sic-{{loop.index}}" style="{% if not loop.first %}display:none;{% endif %}">
                            <div class="sebo-content-inner">
                                <div class="sebo-img-wrapper">
                                    <div class="sebo-shape-two hide-desktop"></div>
                                    <img loading="lazy" class="sebo-img" width="605" height="375" src="https://aonndpeydo.cloudimg.io/v7/{{Image(sector.image).src}}?func=fit&w=605&h=375" alt="{{Image(sector.image).alt}}"/>
                                </div>
                                <div class="sebo-content-body">
                                    <h4>{{sector.title}}</h4>
                                    <p>{{sector.content}}</p>
                                    <div class="sebo-button row">
                                        <a href="{{sector.link.url}}" target="{{sector.link.target}}" class="btn">{{sector.link.title}}</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>

<script>
{{fields.custom_scripts.javascript}}
function toggleTab(element) {
    document.querySelectorAll('.sector-item-content').forEach((el) => {el.style.display = "none";})
    document.querySelectorAll('.sector-item').forEach((el) => {el.classList.remove('active');})
    element.parentNode.classList.add('active');
    document.querySelector('.sic-' + element.parentNode.dataset.item).style.display = 'list-item';
}
[...document.querySelectorAll('.sector-item')].forEach((tab) => {
    tab.addEventListener('mouseenter', (event) => {
        document.querySelectorAll('.sector-item-content').forEach((el) => {el.style.display = "none";})
        document.querySelectorAll('.sector-item').forEach((el) => {el.classList.remove('active');})
        tab.classList.add('active');
        document.querySelector('.sic-' + event.target.dataset.item).style.display = 'list-item';
    })
});

</script>

{% if is_preview %}
</div>
{% endif %}