.flickity-button {
    background-color: transparent;
    border: 0;
    padding: 0;
    position: absolute;
    top: 40%;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transform: translateY(-50%);
    @include from_until(1024) {
        top: 50%;
    }
    &-icon {
        display: none;
    }
    &:before {
        font-family: "icomoon";
        color: #00aab1;
        cursor: pointer;
        font-size: 25px;
        @include from_until(1024) {
            font-size: 40px;
        }
    }
    &.previous {
        left: 10px;
        &:before {
            content: "\e903";
        }
    }
    &.next {
        right: 10px;
        &:before {
            content: "\e902";
        }
    }
}

.flickity-page-dots {
    list-style: none;
    padding: 0;
    padding-top: 50px;
    padding-left: 50px;
    margin: 0;
    display: flex;
    @include from_until(1024) {
        padding-left: 2.8vw;
    }
    .dot {
        height: 5.65px;
        width: 33.27px;
        background-color: rgba(0, 170, 177, 0.25);
        @include from_until(1024) {
            height: 10px;
            width: 60px;
        }
        cursor: pointer;
        &.is-selected {
            background-color: rgba(0, 170, 177, 1);
        }
    }
    .dot + .dot {
        margin-left: 5px;
    }
}

.css {
    position: relative;
    background-color: #13293d;
    z-index: 1;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: url(/wp-content/themes/dolmen-engineering/blocks/case-study-slider/bg-one.png) #13293d;
        background-repeat: no-repeat;
        background-position-x: right;
        background-position-y: top;
        background-blend-mode: color-burn;
        z-index: -1;
        opacity: 0.14;
    }
    &-slide {
        background-color: #13293d;
    }
}

.css {
    color: white;
    @include from_until(1024) {
        padding-bottom: 15vh;
    }
    h2,
    h4 {
        color: white;
    }
    h4 {
        margin-top: 15px;
        margin-bottom: 0;
    }
    p {
        @include from_until(0,1023) {
            margin-top: 15px;
        }
    }
}

.css {
    &-content-ctnr {
        padding:50px;
        @include from_until(1024) {
            padding-left: 2.8vw;
            padding-bottom: 8vh;
        }
    }
    &-inner {
        @include from_until(0,1023) {
            padding-bottom: 75px;
        }
    }
    &-slider {
        outline: 0;
        position: relative;
        overflow: hidden;
    }
    &-button {
        justify-content: end;
        @include from_until(1024) {
            padding-top: 25px;
        }
    }
    &-shape {
        position: absolute;
        right: 0;
        bottom: -5vh;
        img {
            @include from_until(1024) {
                max-width: 65vw;
            }
        }
        &-two {
            position: absolute;
            bottom: 0;
            background-color: #00aab1;
            top: -5px;
            left: 0;
            z-index: 50;
            height: 5.65px;
            width: 33.25px;
            @include from_until(1024) {
                top: -10px;
                height: 9.81px;
                width: 57.75px;
            }
        }
    }
}

.css {
    &-slide {
        border-radius: 3px;
        box-shadow: 0px 3px 6px rgb(0 0 0 / 16%);
        width: 310px;
        height: 201px;
        // margin-top: 10px;
        border-top: 1px solid rgba(0, 170, 177, 0.2);
        margin-right: 100px;
        display:flex;
        overflow:hidden;
        position:relative;
        @include from_until(1024) {
            margin-right: 75px;
            width: 400px;
            height: 260px;
        }
        @include from_until(1280) {
            margin-right: 75px;
            width: 500px;
            height: 320px;
        }
        @include from_until(1366) {
            margin-right: 100px;
            width: 539px;
            height: 338px;
        }
        &-content {
            transition: all 0.35s ease-out;
            margin-left: auto;
            margin-right: -1px;
            z-index: 2;
            overflow: hidden;
            background-color: #13293d;
            display: flex;
            align-items: center;
            padding: 0 25px;
        }
        &-inner {
            display: flex;
            &:before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                right:0;
                z-index: 1;
                background:var(--bg-img);
                background-repeat: no-repeat;
                background-size: cover;
            }
            &:after {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                width: 66px;
                z-index: 2;
                background-color: rgba(19, 41, 61, 0.75);
                transition: all 0.35s ease-out;
                @include from_until(1024) {
                    width: 116px;
                }
            }
        }
    }
}

.css-slide {
    .css-slide-content {
        transform:translateX(0);
        max-width: 79%;
    }
    .css-slide-inner {
        &:after {
            opacity:1;
        }
    }
    &:not(:hover) {
        .css-slide-content {
            @include from_until(1024) {
                transform:translateX(100%);
            }
        }
        .css-slide-inner {
            &:after {
                @include from_until(1024) {
                    opacity:0;
                }
            }
        }
    }
}