{% if is_preview %}
<div class="preview" data-block-name="sebo">
<style>
    .preview-wrapper {
        background-color:#1c2a36;
    }
    .dynamic-hero {
        min-height:30vh;
    }
    img {
        max-width: 100%;
    }
    .block-editor-inner-blocks {
        border:2px solid rgba(30, 162, 224, 0.5);
    }
</style>
{% endif %}
<script src="https://unpkg.com/flickity@2.2.2/dist/flickity.pkgd.min.js"></script>
<style>{{compiled_css}}</style>
<section class="block css" data-block-name="css" style="--bg-one:url(https://aonndpeydo.cloudimg.io/v7/{{local_path}}/bg-one.png)">
    <div class="container css-inner">
        <div class="css-content-ctnr">
            <div class="css-heading">
                <h2>{{fields.title}}</h2>
            </div>
            <div class="css-content">
                <p>{{fields.content}}</p>
            </div>
        </div>
        <div class="css-slider hide-desktop" data-flickity='{ "groupCells": 1, "wrapAround": true, "arrowShape": "M 0,50 L 60,00 L 50,30 L 80,30 L 80,70 L 50,70 L 60,100 Z" }'>
        {% for i in 0..5 %}
            <div class="css-slide">
                <div class="css-shape-two"></div>
                <div class="css-slide-inner">
                    <div class="css-slide-content">
                        <h4>MANUFACTURING & CLEAN UTILITIES SKIDS</h4>
                        <p>Duis Aute Irure Dolor In Reprehenderit In Voluptate Velit Esse Cillum.</p>
                        <div class="css-button row">
                            <a href="#" target="{{sector.link.target}}" class="btn">SEE MORE</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
        <div class="css-slider hide-mobile" data-flickity='{ "groupCells": 2, "wrapAround": true, "arrowShape": "M 0,50 L 60,00 L 50,30 L 80,30 L 80,70 L 50,70 L 60,100 Z" }'>
        {% for item in case_studies %}
            <div class="css-slide">
                <div class="shape-holder"><shape></shape></div>
                <div class="css-slide-inner" style="--bg-img:url(https://aonndpeydo.cloudimg.io/v7/{{Image(item.thumbnail.src).src}})">
                    <div class="css-slide-content">
                        <div class="css-slide-content-inner">
                            <h4>{{item.title}}</h4>
                            <p>{{item.preview|slice(0, 75)}}</p>
                            <div class="css-button row">
                                <a href="{{item.link}}" target="{{sector.link.target}}" class="btn ne slider">SEE MORE</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
    <div class="css-shape">
        <img loading="lazy" width="1197" height="94" src="https://aonndpeydo.cloudimg.io/v7/{{local_path}}/shape-one.svg" alt="Shape"/>
    </div>
</section>


<script>
{{fields.custom_scripts.javascript}}


</script>

{% if is_preview %}
</div>
{% endif %}