@media only screen and (max-width: 1023px) {
  .hide-mobile {
    display: none !important;
  }
}

@media only screen and (min-width: 1024px) {
  .hide-desktop {
    display: none !important;
  }
}

@media only screen and (max-width: 1023px) {
  .cs-hero-content {
    margin: 30px;
    margin-bottom: 0px;
  }
}
@media only screen and (min-width: 1024px) {
  .cs-hero-content {
    margin-top: 50px;
    margin-bottom: 80px;
    margin-left: 120px;
  }
}
.cs-hero-content h1 {
  margin: 0;
}
@media only screen and (min-width: 1024px) {
  .cs-hero-content h1 {
    font-size: 42px;
    line-height: 60px;
  }
}
.cs-body-cntr {
  background-color: white;
}
.cs-fi {
  max-height: 100%;
}
@media only screen and (max-width: 1023px) {
  .cs-fi {
    position: relative;
  }
}
@media only screen and (min-width: 1024px) {
  .cs-fi {
    top: 90px;
  }
}
.cs-info-list {
  font-size: 20px;
  line-height: 30px;
  max-width: 700px;
}
.cs-info-list .label {
  color: #00aab1;
  font-weight: 500;
  padding: 8px 0;
}
.cs-info-list .value {
  border-left: 1px solid rgba(19, 41, 61, 0.1);
  padding: 8px 30px;
}
.cs-info-list li {
  border-bottom: 1px solid rgba(19, 41, 61, 0.1);
  padding: 7px 0;
}
.cs-info-list li:first-child {
  border-top: 1px solid rgba(19, 41, 61, 0.1);
}
.cs-inner {
  justify-content: space-between;
}
@media only screen and (max-width: 1023px) {
  .cs-inner .col-33 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.cs-inner .col-33 .col {
  padding: 0;
}
@media only screen and (min-width: 1024px) {
  .cs-inner .col-33 .col {
    padding: 10px;
  }
}
@media only screen and (max-width: 1023px) {
  .cs-inner .col-60 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.cs-images {
  padding-top: 50px;
}
@media only screen and (max-width: 1023px) {
  .cs-header {
    padding: 20px;
  }
}
.cs-header .cs-header-content {
  flex: 0 0 65%;
  max-width: 65%;
}
@media only screen and (max-width: 1023px) {
  .cs-header .cs-header-content {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media only screen and (max-width: 1023px) {
  .cs-info li.cls {
    flex-direction: row;
  }
}
@media only screen and (min-width: 1024px) {
  .cs-content {
    padding: 150px 0;
  }
}
@media only screen and (max-width: 1023px) {
  .cs-content {
    padding: 20px;
  }
}
.cs-section {
  padding: 40px 0;
  border-bottom: 1px solid #00aab1;
}
@media only screen and (min-width: 1024px) {
  .cs-section {
    padding: 90px 0;
  }
}
.cs-section:first-child {
  border-top: 1px solid #00aab1;
}
.cs-section .cs-section-shape {
  height: 10px;
  width: 58px;
  background-color: #00aab1;
  top: -10px;
}
.cs-section h4 {
  margin-bottom: 0;
}
.cs-button {
  justify-content: flex-end;
  padding-top: 25px;
}
.cs-button .btn {
  border: 0;
}
@media only screen and (min-width: 1024px) {
  .cs-shape {
    margin-bottom: -50px;
    margin-top: -50px;
    position: relative;
    z-index: 5;
  }
}

/*# sourceMappingURL=cs-index.css.map */
