@media only screen and (max-width: 1023px) {
  .hide-mobile {
    display: none !important;
  }
}

@media only screen and (min-width: 1024px) {
  .hide-desktop {
    display: none !important;
  }
}

@media only screen and (max-width: 1023px) {
  .cs-hero-content {
    margin: 30px;
  }
}
@media only screen and (min-width: 1024px) {
  .cs-hero-content {
    margin-top: 50px;
    margin-bottom: 100px;
    margin-left: 120px;
  }
}
.cs-hero span {
  font-size: 45px;
  line-height: 60px;
  text-transform: uppercase;
  font-weight: 600;
}
.cs-body h1 {
  font-size: 35px;
  line-height: 53px;
}
.cs-body-cntr {
  background-color: white;
}
@media only screen and (min-width: 1024px) {
  .cs-body-cntr {
    padding-top: 200px;
  }
}
.cs-body li {
  font-size: 20px;
  line-height: 26px;
}
.cs-fi {
  max-height: 100%;
}
@media only screen and (max-width: 1023px) {
  .cs-fi {
    position: relative;
  }
}
@media only screen and (min-width: 1024px) {
  .cs-fi {
    top: 130px;
    max-width: 35vw;
    height: 430px;
    object-fit: cover;
  }
}
.cs-info-list {
  font-size: 20px;
  line-height: 30px;
  max-width: 700px;
}
.cs-info-list .label {
  color: #00aab1;
  font-weight: 500;
  padding: 12px 0;
}
.cs-info-list .value {
  border-left: 1px solid rgba(19, 41, 61, 0.1);
  padding: 12px 30px;
}
.cs-info-list li {
  border-bottom: 1px solid rgba(19, 41, 61, 0.1);
  padding: 7px 0;
}
.cs-info-list li:first-child {
  border-top: 1px solid rgba(19, 41, 61, 0.1);
}
@media only screen and (max-width: 1023px) {
  .cs-inner .col-33 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.cs-images {
  padding-top: 50px;
}
@media only screen and (max-width: 1023px) {
  .cs-header {
    padding: 20px;
  }
}
.cs-header .cs-header-content {
  flex: 0 0 65%;
  max-width: 65%;
}
@media only screen and (max-width: 1023px) {
  .cs-header .cs-header-content {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.cs-header .cs-header-content h1 {
  font-weight: 400;
}
@media only screen and (max-width: 1023px) {
  .cs-info li.cls {
    flex-direction: row;
  }
}
@media only screen and (max-width: 1023px) {
  .cs-content {
    padding: 20px;
  }
}
.cs-section {
  padding: 20px 0;
  border-bottom: 1px solid #00aab1;
}
@media only screen and (min-width: 1024px) {
  .cs-section {
    padding: 60px 0;
  }
}
.cs-section:not(:first-child) .cs-section-shape {
  height: 10px;
  width: 58px;
  background-color: #00aab1;
  top: -10px;
}
@media only screen and (min-width: 1024px) {
  .cs-shape {
    margin-bottom: -50px;
    margin-top: -50px;
    position: relative;
    z-index: 5;
  }
}

.fc2 {
  position: relative;
}
.fc2:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background: var(--bg);
  background-repeat: no-repeat;
  background-size: contain;
  mix-blend-mode: multiply;
  opacity: 0.65;
}
@media only screen and (max-width: 1023px) {
  .fc2:before {
    z-index: -1;
  }
}
@media only screen and (min-width: 1024px) {
  .fc2:before {
    width: 450px;
  }
}
.fc2 h3 {
  color: white;
}
.fc2 a {
  color: white;
  text-decoration: none;
}
.fc2 p {
  font-weight: 400;
}
@media only screen and (min-width: 1024px) {
  .fc2-content {
    max-width: 70%;
    margin-left: auto;
  }
}
.fc2-inner {
  background: linear-gradient(270deg, #00aab1 1%, #13293d 100%);
  padding: 25px 50px;
}
@media only screen and (min-width: 1024px) {
  .fc2-inner {
    padding: 25px;
  }
}
.fc2-outer {
  background: white;
  padding-bottom: 75px;
}
@media only screen and (min-width: 1024px) {
  .fc2-outer {
    padding-bottom: 25px;
  }
}

/*# sourceMappingURL=cs.css.map */
