.cls {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100%;
}
.cls-wrap {
  flex-wrap: wrap;
}
.cls-top {
  align-items: flex-start;
}
.cls-bot {
  align-items: flex-end;
}
.cls-center {
  align-items: center;
}

.col {
  display: block;
  flex: 1 1 auto;
  margin-left: 0;
  max-width: 100%;
  width: 100%;
}
.col-25 {
  flex: 0 0 25%;
  max-width: 25%;
}
.col-33 {
  flex: 0 0 33.3333%;
  max-width: 33.3333%;
}
.col-40 {
  flex: 0 0 40%;
  max-width: 40%;
}
.col-50 {
  flex: 0 0 50%;
  max-width: 50%;
}
.col-60 {
  flex: 0 0 60%;
  max-width: 60%;
}
.col-75 {
  flex: 0 0 75%;
  max-width: 75%;
}
.col-offset-10 {
  margin-left: 10%;
}
.col-offset-20 {
  margin-left: 20%;
}
.col-offset-25 {
  margin-left: 25%;
}
.col-offset-33 {
  margin-left: 33.3333%;
}
.col-offset-40 {
  margin-left: 40%;
}
.col-offset-50 {
  margin-left: 50%;
}
.col-offset-60 {
  margin-left: 60%;
}
.col-offset-66 {
  margin-left: 66.6666%;
}
.col-offset-75 {
  margin-left: 75%;
}

@media (min-width: 40rem) {
  .rows {
    flex-direction: row;
    margin-left: -1rem;
    width: calc(100% + 2rem);
  }

  .col {
    margin-bottom: inherit;
    padding: 0 1rem;
  }
}

/*# sourceMappingURL=grid.css.map */
