@charset "UTF-8";
@media only screen and (max-width: 1023px) {
  .hide-mobile {
    display: none !important;
  }
}

@media only screen and (min-width: 1024px) {
  .hide-desktop {
    display: none !important;
  }
}

.cls {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100%;
}
.cls-wrap {
  flex-wrap: wrap;
}
.cls-top {
  align-items: flex-start;
}
.cls-bot {
  align-items: flex-end;
}
.cls-center {
  align-items: center;
}

.col {
  display: block;
  flex: 1 1 auto;
  margin-left: 0;
  max-width: 100%;
  width: 100%;
}
.col-25 {
  flex: 0 0 25%;
  max-width: 25%;
}
.col-33 {
  flex: 0 0 33.3333%;
  max-width: 33.3333%;
}
.col-40 {
  flex: 0 0 40%;
  max-width: 40%;
}
.col-50 {
  flex: 0 0 50%;
  max-width: 50%;
}
.col-60 {
  flex: 0 0 60%;
  max-width: 60%;
}
.col-75 {
  flex: 0 0 75%;
  max-width: 75%;
}
.col-offset-10 {
  margin-left: 10%;
}
.col-offset-20 {
  margin-left: 20%;
}
.col-offset-25 {
  margin-left: 25%;
}
.col-offset-33 {
  margin-left: 33.3333%;
}
.col-offset-40 {
  margin-left: 40%;
}
.col-offset-50 {
  margin-left: 50%;
}
.col-offset-60 {
  margin-left: 60%;
}
.col-offset-66 {
  margin-left: 66.6666%;
}
.col-offset-75 {
  margin-left: 75%;
}

@media (min-width: 40rem) {
  .cls {
    flex-direction: row;
  }

  .col {
    margin-bottom: inherit;
    padding: 0 1rem;
  }
}
body {
  margin: 0;
}

.dbg {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
.dbg[bg-type^=color] {
  background-color: var(--bg-color);
}
.dbg[bg-type^=image] {
  background: var(--bg-img);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.dbg[bg-type^=image]:after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #13293D;
  opacity: 0.75;
  mix-blend-mode: multiply;
}

@media only screen and (min-width: 1024px) {
  .dbg-one {
    max-width: 1618px;
    margin-left: auto;
  }
  .dbg-two {
    max-width: 1618px;
    margin-left: auto;
  }
}
ul:not(.rl) li,
ol:not(.rl) li {
  font-size: 16px;
  line-height: 22px;
}
@media only screen and (min-width: 1024px) {
  ul:not(.rl) li,
ol:not(.rl) li {
    font-size: 20px;
    line-height: 30px;
  }
}

.pos-r {
  position: relative;
}
.pos-a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@font-face {
  font-family: "icomoon";
  src: url("/wp-content/themes/dolmen-engineering/fonts/icomoon.ttf") format("truetype");
  src: url("/wp-content/themes/dolmen-engineering/fonts/icomoon.woff") format("woff");
  src: url("/wp-content/themes/dolmen-engineering/fonts/icomoon.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kanit";
  src: url("/wp-content/themes/dolmen-engineering/fonts/Kanit-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kanit";
  src: url("/wp-content/themes/dolmen-engineering/fonts/Kanit-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kanit";
  src: url("/wp-content/themes/dolmen-engineering/fonts/Kanit-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
html {
  color: #13293D;
  font-family: "Kanit", "sans-serif";
  font-weight: 300;
  font-size: 16px;
}
@media only screen and (min-width: 1024px) {
  html {
    font-size: 25px;
  }
}

h5,
h4,
h3,
h2,
h1 {
  font-family: "Kanit", "sans-serif";
  font-weight: 600;
  color: #13293D;
}

h1 {
  font-size: 35px;
}
@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 55px;
  }
}

h2 {
  font-size: 25px;
}
@media only screen and (min-width: 1024px) {
  h2 {
    font-size: 45px;
  }
}

h3 {
  font-size: 20px;
}
@media only screen and (min-width: 1024px) {
  h3 {
    font-size: 35px;
  }
}

h4 {
  font-size: 18px;
}
@media only screen and (min-width: 1024px) {
  h4 {
    font-size: 25px;
  }
}

h5 {
  font-size: 16px;
}
@media only screen and (min-width: 1024px) {
  h5 {
    font-size: 25px;
  }
}

p {
  line-height: 22px;
}
@media only screen and (min-width: 1024px) {
  p {
    font-size: 20px;
    line-height: 30px;
  }
}

.btn {
  color: #00AAB1;
  padding-bottom: 10px;
  border-bottom: 1px solid #00AAB1;
  position: relative;
  transition: all 0.25s ease;
}
.btn:before {
  content: url("/wp-content/themes/dolmen-engineering/images/big-arrow-hover.svg");
  position: absolute;
  right: 0;
}
.btn:after {
  position: relative;
  content: url("/wp-content/themes/dolmen-engineering/images/big-arrow.svg");
  margin-left: 30px;
  opacity: 1;
}
.btn:not(.ne):hover {
  color: #13293D;
  border-color: #13293D;
}
.btn:not(.ne):hover:after {
  content: url("/wp-content/themes/dolmen-engineering/images/big-arrow-navy.svg");
}
.btn.ne.slider:hover {
  color: white;
  border-color: white;
}
.btn.ne.slider:hover:after {
  content: url("/wp-content/themes/dolmen-engineering/images/big-arrow-white.svg");
}
.btn-white {
  color: white;
  border-color: white;
}
.btn-white:after {
  content: url("/wp-content/themes/dolmen-engineering/images/big-arrow-white.svg");
}
.btn-white:hover {
  color: #00AAB1;
  border-color: #00AAB1;
}
.btn-white:hover:after {
  content: url("/wp-content/themes/dolmen-engineering/images/big-arrow.svg");
}

@media only screen and (min-width: 1024px) {
  .btn {
    font-size: 22px;
  }
}
body {
  background-color: rgba(19, 41, 61, 0.05);
}

html:not(.menu-open) .menu-listm {
  transform: translateY(-100%);
}

.nav-toggler {
  flex-grow: 1;
  position: relative;
  height: 100%;
}

.header {
  z-index: 50;
  position: relative;
}
.header-wrapper {
  margin: 0 25px;
}
@media only screen and (min-width: 1024px) {
  .header-wrapper {
    margin: 0;
  }
}
@media only screen and (min-width: 1441px) {
  .header-container {
    margin-right: 10vw;
  }
}
@media only screen and (min-width: 1024px) {
  .header-container:before {
    content: " ";
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1600px) {
  .header-container:before {
    min-width: 98vw;
  }
}
@media only screen and (min-width: 1601px) and (max-width: 1920px) {
  .header-container:before {
    min-width: 1536px;
  }
}
@media only screen and (min-width: 1921px) {
  .header-container:before {
    width: 80vw;
  }
}

.logo-container {
  position: relative;
  display: flex;
  align-items: center;
  height: 158px;
  padding: 0 25px;
  z-index: 15;
}
@media only screen and (max-width: 1023px) {
  .logo-container {
    background-color: white;
  }
}
.logo-container:before {
  content: " ";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 0.85;
  z-index: -1;
}
@media only screen and (min-width: 1024px) {
  .logo-container:before {
    content: none;
  }
}
.logo-container img {
  max-height: 103px;
}
.logo-container a {
  padding-top: 10px;
}

.menu-item > .menu-item-holder > .menu-link {
  border-left: 3px solid #13293D;
  padding-left: 10px;
}

.menu-link {
  transition: all 0.2s ease;
  color: #00aab1;
  font-size: 22px;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
}
.menu-link:hover {
  font-weight: 600;
}
@media only screen and (min-width: 1024px) {
  .menu-link.active {
    color: #13293D;
    font-weight: 600;
  }
}
@media only screen and (min-width: 1024px) {
  .menu-item {
    position: relative;
    padding: 15px 0;
  }
}
.menu-item-holder .menu-link:before {
  display: block;
  content: attr(data-text);
  font-weight: 600;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.menu-list {
  list-style: none;
  margin: 0;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.menu-container {
  flex-grow: 1;
}
@media only screen and (min-width: 1024px) {
  .menu-container {
    margin-top: 40px;
  }
}
@media only screen and (min-width: 1024px) {
  .menu-logo {
    display: flex;
    padding: 10px 0;
  }
}

.menu-listm {
  list-style: none;
  margin: 0;
  padding: 25px 50px;
  transition: all 0.35s cubic-bezier(1, 0, 0, 1);
  background-color: #00aab1;
  position: absolute;
  top: 158px;
  bottom: 0;
  right: 25px;
  left: 25px;
  height: max-content;
  z-index: 10;
  text-transform: uppercase;
  overflow: hidden;
}
.menu-itemm {
  margin: 0;
}
.menu-itemm-holder {
  position: relative;
}
.menu-itemm-holder.sub {
  display: flex;
  justify-content: space-between;
}
.menu-itemm-holder .chevron {
  flex-grow: 1;
}
.menu-itemm-holder .chevron:before {
  font-family: "icomoon";
  content: "";
  color: white;
  font-size: 30px;
  line-height: 30px;
  position: absolute;
  right: 40px;
  top: -3px;
}
.menu-itemm:not(:last-child) {
  margin-bottom: 25px;
}
.menu-itemm:not(.submenu-open) .submenu-holder {
  transform: translateX(120%);
}
.menu-linkm {
  font-size: 22px;
  color: white;
  position: relative;
}
.menu-linkm:before {
  height: 19px;
  width: 3.13px;
  background-color: #13293d;
  position: absolute;
  left: -18px;
  top: 7px;
  content: "";
}

.burger {
  cursor: pointer;
  height: 38px;
  width: 45px;
  top: 50%;
  right: 0;
  transform: rotate(180deg);
  position: absolute;
  transform-origin: center;
  transition-duration: 200ms;
  transition-property: background-color, opacity, transform;
  transition-timing-function: ease-out;
}
.burger span {
  position: absolute;
  display: block;
  height: 4px;
}
.burger span:nth-child(1) {
  width: 37px;
  background-color: #00aab1;
  top: calc(50% - 16px);
}
.burger span:nth-child(2) {
  width: 45px;
  background-color: #00aab1;
  top: calc(50% - 0px);
}
.burger span:nth-child(3) {
  width: 37px;
  background-color: #13293d;
  top: calc(50% + 16px);
}

html.menu-open .burger {
  transform: rotate(90deg);
}

.menu-item.sub:not(:hover) .submenu-dholder {
  max-height: 0;
}
.menu-item.sub:hover .submenu-dholder {
  max-height: 1000px;
}

.submenu {
  list-style: none;
  padding: 10px 25px;
}
@media only screen and (min-width: 1024px) {
  .submenu {
    padding: 20px;
    width: max-content;
  }
}
.submenu-dholder {
  transition: all 0.25s ease;
  overflow: hidden;
  border-left: 3px solid #13293D;
  position: absolute;
  top: 44px;
  text-align: left;
  background-color: white;
  z-index: 10;
}
.submenu-holder {
  margin: 0 25px;
  padding-top: 10px;
  transition: all 0.6s cubic-bezier(1, 0, 0, 1);
  background-color: #00aab1;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 11;
}
.submenu-holder .chevron {
  padding-top: 10px;
  padding-bottom: 15px;
  margin-bottom: 25px;
  border-bottom: 1px solid #13293D;
  position: relative;
}
.submenu-holder .chevron:before {
  font-family: "icomoon";
  content: "";
  font-size: 30px;
  line-height: 30px;
  position: absolute;
  top: 0;
  bottom: 12px;
  left: 0;
  transform: rotate(180deg);
}
.submenu-holder .return {
  font-size: 22px;
  margin: 25px;
}

.nav-drop-item {
  padding: 7px 0;
}
.nav-drop-item .menu-link {
  text-transform: uppercase;
}
.nav-drop-item:not(:last-child) {
  border-bottom: 1px solid rgba(0, 170, 177, 0.25);
}

.menu-closer {
  z-index: 12;
  position: absolute;
  right: 34px;
  top: 15px;
}
.menu-closer .closer:before {
  content: "";
  font-family: "icomoon";
  font-size: 30px;
}

.footer-wrapper {
  background-color: #13293D;
}
@media only screen and (min-width: 1024px) {
  .footer-wrapper {
    border-top: 4px solid #00AAB1;
  }
}
.footer-container {
  padding: 0 30px;
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (max-width: 1023px) {
  .footer-logo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}
.footer-logo-container .img-wrapper:first-child {
  margin-bottom: 15px;
}
@media only screen and (max-width: 1023px) {
  .footer-logo-container .footer-logo {
    flex: 0 0 45%;
  }
}
.footer-cp-container {
  background-color: #0F2031;
  font-size: 9.5px;
  padding: 5px 0;
}
.footer-cp-container span {
  color: #00AAB1;
}
.footer-cp-container a {
  color: #00AAB1;
}
.footer a {
  color: white;
}

@media only screen and (max-width: 1023px) {
  .footer-info-container {
    display: flex;
    flex-direction: row-reverse;
  }
}

@media only screen and (max-width: 1023px) {
  .footer-container {
    justify-content: space-between;
  }

  .footer-icons {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .footer-icons li {
    margin: 0 5px;
  }
  .footer-icons img {
    max-height: 15px;
  }
  .footer-icons-container {
    position: relative;
    margin-left: 35px;
  }
  .footer-icons-container:before {
    height: 19px;
    width: 1px;
    background-color: #00AAB1;
    position: absolute;
    left: -15px;
    top: 0;
    content: "";
  }

  .footer-logo-container {
    padding: 30px 0;
  }
}
@media only screen and (max-width: 1023px) and (min-width: 0.1023px) {
  .footer-logo-container {
    padding-bottom: 0;
  }
}
@media only screen and (max-width: 1023px) {
  .footer-logo-container .img-wrapper {
    max-width: 172px;
  }
}
@media only screen and (max-width: 1023px) {
  .footer-info-container {
    border-top: 1px solid #00AAB1;
    padding: 20px 0;
    width: 100%;
  }
}
@media only screen and (max-width: 1023px) {
  .img-wrapper {
    max-width: 172px;
  }
  .img-wrapper + .img-wrapper {
    margin-top: 17px;
  }
}
@media only screen and (max-width: 1023px) {
  .footer-logo {
    max-width: 172px;
    margin-bottom: 35px;
  }
}
@media only screen and (max-width: 1023px) {
  .footer-menu-container {
    margin-left: 20px;
    padding: 30px 0;
    padding-bottom: 0;
  }
}
.footer-email-container {
  font-weight: 600;
}

.footer-logo {
  display: block;
}
@media only screen and (min-width: 1024px) {
  .footer-logo {
    margin: 30px;
  }
}

.footer-menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer-menu-list li + li {
  margin: 20px 0;
}
.footer-menu-list li {
  position: relative;
}
.footer-menu-list li:before {
  height: 19px;
  width: 2.14px;
  background-color: #00AAB1;
  position: absolute;
  left: -15px;
  top: 0;
  content: "";
}

.footer-menu-link {
  text-transform: uppercase;
}

@media only screen and (min-width: 1024px) {
  .footer-container {
    align-items: center;
    justify-content: space-between;
    padding: 0;
  }
  .footer-icons {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  .footer-icons li:nth-child(2) {
    margin: 0 25px;
  }
  .footer-email-container {
    font-size: 20px;
    margin: 20px 0;
  }
  .footer-email-container a {
    font-weight: 100;
  }
  .footer-cp-container {
    background-color: transparent;
    font-size: 14px;
  }
  .footer-cp-container a {
    color: #00AAB1;
  }
  .footer-logo {
    margin: 3.1vh 0.5vh;
  }

  .footer-menu-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
    position: relative;
    flex-direction: column;
  }
  .footer-menu-list:after {
    content: " ";
    position: absolute;
    right: -25px;
    top: 0;
    bottom: 0;
    left: calc(100% - -24px);
    background-color: #00AAB1;
  }
  .footer-menu-item {
    flex: 0 0 50%;
    margin: 10px 0 !important;
    font-size: 22px;
  }

  .img-wrapper + .img-wrapper {
    margin-top: 15px;
  }
}
.footer-logo.niras {
  display: flex;
  flex-direction: column;
}
.footer-logo.niras span {
  font-size: 22px;
}

@media only screen and (min-width: 1024px) {
  .footer-menu-container {
    margin-right: 30px;
  }
}

/*# sourceMappingURL=main.css.map */
