.cbt {
    position: relative;
    &-button {
        padding-bottom: 70px;
    }
    .dbg-one {
        top: -158px;
    }
}

.cbt {
    .dbg-two {
        top: 0;
        left: 0;
        z-index: -2;
        @include from_until(1024) {
            left: 14.8vw;
        }
    }
    &-inner {
        background-color: white;
        max-width: 1460px;
        position: relative;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
        @include from_until(0,1023) {
            margin: 0 25px;
            padding: 40px 25px;
        }
        @include from_until(1024) {
            padding-left: 6vw;
            padding-top: 6vh;
            padding-bottom: 10vh;
            margin-right: 6vw;
        }
        @include from_until(1537) {
            margin-right: 160px;
            padding-left: 3.8vw;
        }
        & > .row {
            @include from_until(1024) {
                max-width: 90%;
            }
            @include from_until(1536) {
                max-width: 75%;
            }
        }
    }
    &-shape {
        position: absolute;
        right: 0;
        bottom: -34px;
        z-index: 1;
        @include from_until(0,1023) {
            height:69px;
            right:-25px;
            left:75%;
        }
        @include from_until(1024) {
            bottom: -5vh;
        }
        img {
            @include from_until(1024) {
                max-width: 65vw;
            }
            height:100%;
            object-fit: cover;
        }
        &-two {
            position: absolute;
            bottom: 0;
            left: 25px;
            background-color: rgba(19, 41, 61, 1);
            @include from_until(0,1023) {
                height: 5.18px;
                width: 30.48px;
            }
            
            @include from_until(1024) {
                left: 3.8vw;
                height: 10px;
                width: 50px;
            }
        }
    }
}

.cbt {
    &.variation-one {
        background:white;
        .cbt-shape {
            display:none;
            &-two {
                display:none;
            }
        }
        .container {
            @include from_until(1024) {
                margin-bottom: 50px;
            }
        }
        .dbg-two {
            max-width: unset;
            @include from_until(1024) {
                left:0;
                bottom: -50px;
            }
        }
    }
}