{% if is_preview %}
<div class="preview" data-block-name="cbt">
<style>
    .preview-wrapper {
        background-color:#1c2a36;
    }
    .dynamic-hero {
        min-height:30vh;
    }
    img {
        max-width: 100%;
    }
    .block-editor-inner-blocks {
        border:2px solid rgba(30, 162, 224, 0.5);
    }
</style>
{% endif %}

<style>{% htmlcompress %}{{compiled_css}}{{fields.custom_scripts.css}}{% endhtmlcompress %}</style>

<section class="block cbt {{block.className}}" data-block-name="cbt">
    <div class="dbg dbg-two bg-color" bg-type="color" style="--bg-color:#ffffff;"></div>
    <div class="container cbt-inner bg-white">
        <div class="cbt-heading row">
            <h2>{{fields.heading}}</h2>
        </div>
        <div class="cbt-content row">
            {{fields.content}}
        </div>
        <div class="cbt-shape">
            <img loading="lazy" width="1197" height="94" src="https://aonndpeydo.cloudimg.io/v7/{{local_path}}/shape-one.svg"  alt="Shape"/>
        </div>
        <div class="cbt-shape-two">
        </div>
    </div>
</section>
<script>{{fields.custom_scripts.javascript}}</script>
{% if is_preview %}
</div>
{% endif %}