.fc3 {
    input {
        height:50px;
        border:0;
        outline:none;
        width: 100%;
        font-size: 18px;
        padding-left: 25px;
        padding-top: 0;
        background-color: rgba(117, 204, 210, 0.15);
        width: 300px;
        margin-top: 5px;
        &::placeholder {
            font-size: 20px;
            line-height: 30px;
            color:rgba(19, 41, 61, 0.5);
            font-family: "Kanit";
            font-weight: 300;
        }
        &[type=submit] {
            background-color: white;
            border: 1px solid rgba(0, 170, 177, 1);
            color: rgba(0, 170, 177, 1);
            padding: 0;
            cursor: pointer;
            width: max-content;
            min-width: 250px;
            display: block;
            margin-left: auto;
            font-weight: 300;
        }
        &.wpcf7-not-valid {
            border:1px solid #dc3232;
        }
    }
    textarea {
        outline: none;
        border:0;
        width: 100%;
        font-size: 18px;
        padding-left: 25px;
        padding-top:25px;
        margin-top: 5px;
        background-color: rgba(117, 204, 210, 0.15);
        width: 300px;
        &::placeholder {
            font-size: 20px;
            line-height: 30px;
            color:rgba(19, 41, 61, 0.5);
            font-family: "Kanit";
            font-weight: 300;
        }
        &.wpcf7-not-valid {
            border:1px solid #dc3232;
        }
    }
    label {
        margin-bottom: 5px;
        font-size: 16px;
        line-height: 24px;
        color: rgba(19, 41, 61, 1);
        font-weight: 300;
    }
    .btn {
        cursor: pointer;
        width: 100%;
        margin: auto;
        max-width: 90%;
        @include from_until(1024) {
            max-width: 475px;
        }
    }
    .col-60 {
        @include from_until(1024) {
            margin-right: 40px;
        }
        @include from_until(0,1023) {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
}

.wpcf7-not-valid-tip {
    padding-top: 10px;
    font-size: 16px;
    display:none;
}

.wpcf7-response-output {
    font-size: 20px;
    margin-top: 10px;
}

.fc3-info {
    padding:0;
    @include from_until(1024) {
        max-width: 460px;
    }
    &-wrapper {
        padding: 30px;
    }
}

.fc3-info-list {
    margin-top: 15px;
    margin-left: 20px;
    @include from_until(0,1023) {
        margin-right: 20px;
    }
    h4 {
        color:rgba(0, 170, 177, 1);
        margin: 0;
        margin-top: 25px;
    }
    label {
        color:rgba(0, 170, 177, 1);
    }
    p {
        margin: 5px 0;
        font-size: 20px;
        line-height: 30px;
    }
    eircode {
        color:rgba(0, 170, 177, 1);
    }
    hr {
        border-top:1px solid rgba(19, 41, 61, 0.5);
    }
    li {
        border-top:1px solid rgba(19, 41, 61, 0.5);
        margin-bottom: 20px;
        @include from_until(1024) {
            margin-bottom: 40px;
        }
        &:last-child {
            background-color: rgba(0, 170, 177, 1);
            h4 {
                color:white;
            }
        }
    }
    span {
        color:rgba(19, 41, 61, 1);
        &:last-child {
            font-weight: 600;
        }
    }
    a {
        color:white;
        font-weight: 500;
    }
}
.fc3 {
    margin-bottom: 50px;
    margin-top: 3px;
    &-details {
        padding-right: 15px;
    }
    &-message {
        padding-left: 15px;
    }
    &-actions {
        padding: 0 1rem;
    }
    &-fholder {
        background: white;
        box-shadow: 0px 3px 6px rgb(0 0 0 / 16%);
        padding: 1rem;
        left: 45vw;
        width: 750px;
        height: 460px;
        top: 80px;
        z-index: 10;
        h4 {
            padding-left: 1rem;
            margin: 0.65rem 0;
        }
    }
    &-wrapper {
        margin-bottom: 10px;
    }
    &-list {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-evenly;
    }
}
.fc3 {
    h2 {
        color:white;
        margin-bottom: 20px;
        margin-top: 0;
    }
    p {
        color:white;
        margin-bottom: 85px;
    }
    &-top {
        background: transparent linear-gradient(78deg, rgba(0, 170, 177, 1) 0%, rgba(19, 41, 61, 1) 100%) 0% 0% no-repeat padding-box;
        padding-top: 80px;
    }
    &-img {
        &-holder {
            left: unset;
            right: 0;
            top: 280px;
            img {
                height: 220px;
                opacity: 0.20;
            }
        }
    }
}

.fc3 {
    &-top {
        &-left {
            flex: 0 0 520px;
            @include from_until(1024) {
                padding-left: 3.8vw;
            }
        }
        &-right {
            flex-grow: 1;
        }
    }
    &-bot {
        min-height: 275px;
    }
}

.fc3-submit {
    width: max-content;
    margin-left: auto;
    position: relative;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 9px;
        background-color: #00aab1;
    }
}

.wpcf7-spinner {
    display:none !important;
}