{% if is_preview %}
<div class="preview" data-block-name="footer-cta-three">
<style>
    .preview-wrapper {
        background-color:#1c2a36;
    }
    .dynamic-hero {
        min-height:30vh;
    }
    img {
        max-width: 100%;
    }
    .block-editor-inner-blocks {
        border:2px solid rgba(30, 162, 224, 0.5);
    }
</style>
{% endif %}

<style>{% htmlcompress %}{{compiled_css}}{{fields.custom_scripts.css}}{% endhtmlcompress %}</style>

<section class="block fc3 pos-r" data-block-name="footer-cta-three" style="--bg:url({{local_path}}/bg-one.png)">
    <div class="fc3-top">
        <div class="fc3-top-inner container cls">
            <div class="fc3-top-left pos-r">
                <h2>{{fields.title}}</h2>
                {{fields.content}}
                <div class="fc3-img-holder pos-a">
                    <img loading="lazy" src="{{local_path}}/bg-one.png">
                </div>
            </div>
            <div class="fc3-top-right">
                <div class="fc3-fholder pos-a">
                    <h4>SEND US A MESSAGE</h4>
                    [contact-form-7 id="{{fields.contact_form_id}}"]
                </div>
            </div>
        </div>
    </div>
    <div class="fc3-bot pos-r">
    </div>
</section>

<script>{{fields.custom_scripts.javascript}}</script>
{% if is_preview %}
</div>
{% endif %}
