.hb2 {
    padding: 55px;
    position: relative;
    h1 {
        font-weight: 300;
        margin-bottom: 0;
    }
    strong {
        font-weight: 600;
    }
}

.dbg-one {
    top: -158px;
}

.hb2 {
    &-shape {
        position: absolute;
        right: 0;
        bottom: -5vh;
        overflow: hidden;
        @include from_until(0,1023) {
            height:69px;
            left: 65%;
            bottom: -34px;
        }
        img {
            height: 100%;
            object-fit: cover;
            max-width: 65vw;
        }
    }
}

@include from_until(1024) {
    .hb2 {
        padding: 0;
        &-content {
            max-width: 1100px;
        }
        &-button {
            padding-top: 50px;
            padding-bottom: 70px;
        }
        &-shape {
            position: absolute;
            right: 0;
            bottom: -5vh;
        }
        &-bg {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }
    .dbg-one {
        top: -178px;
    }
}

.hb2 {
    &-content {
        &-inner {
            @include from_until(1024) {
                min-height: 600px;
                max-width: 500px;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            @include from_until(1536) {
                max-width: 550px;
            }
            @include from_until(1537) {
                max-width: 650px;
            }
        }
    }
    &-inner {
        display: flex;
        @include from_until(1537) {
            padding-left: 4.5vw;
        }
    }
    &-image {
        &-inner {
            left: unset;
            background:var(--bg-img);
            @include from_until(1024) {
                width: 780px;
                max-width: 50vw;
            }
            background-size: cover;
        }
    }
}
