{% if is_preview %}
<div class="preview" data-block-name="hb2">
<style>
    .preview-wrapper {
        background-color:#1c2a36;
    }
    .dynamic-hero {
        min-height:30vh;
    }
    img {
        max-width: 100%;
    }
    .block-editor-inner-blocks {
        border:2px solid rgba(30, 162, 224, 0.5);
    }
</style>
{% endif %}

<style>
{% htmlcompress %}
{{compiled_css}}
{{fields.custom_scripts.css}}
{% endhtmlcompress %}
[data-block-name="hero-block-one"] h1 {
    color:{{fields.text_color}};
}
</style>

<section class="block hb2 pos-r {{block.className}}" data-block-name="hero-block-one">
    <div class="dbg dbg-one" {% if fields.background.type == "color" %} bg-type="color" style="--bg-color:{{fields.background.color}};" {% elseif fields.background.type == "image" %} bg-type="image" style="--bg-img:url(https://aonndpeydo.cloudimg.io/v7/{{Image(fields.background.image).src}});" {% endif %}></div>
    <div class="container hb2-inner bg-white">
        <div class="hb2-content-inner">
            <div class="hb2-content row" style="color:{{fields.text_color}} !important;">
                {{fields.content}}
            </div>
            <div class="hb2-button row">
                <a href="{{fields.button.destination.url}}" class="btn {{fields.button.type}}" target="{{fields.button.destination.target}}">{{fields.button.destination.title}}</a>
            </div>
        </div>
        <div class="hb2-image">
            <div class="hb2-image-inner pos-a" style="--bg-img:url(https://aonndpeydo.cloudimg.io/v7/{{Image(fields.image).src}});"></div>
        </div>
    </div>
    <div class="hb2-shape">
        <img loading="lazy" src="{{local_path}}/shape-one.svg" alt="Shape"/>
    </div>
</section>
<script>{{fields.custom_scripts.javascript}}</script>

{% if is_preview %}
</div>
{% endif %}