.sbtab {
    h2 {
        margin-top:0;
    }
    h5 {
        transition: all 0.25s ease-out;
        font-size: 20px;
        line-height: 24px;
        @include from_until(1024) {
            font-size: 24px;
            line-height: 35px;
        }
        margin: 0;
        &:hover {
            color: rgba(0, 170, 177, 1);
        }
    }
    .container {
        background-color: white;
        @include from_until(0,1023) {
            padding: 20px;
        }
        @include from_until(1024) {
            padding-left: 3.8vw;
            padding-top: 10vh;
            padding-bottom: 15vh;
        }
    }
    &-bg {
        @include from_until(1024) {
            left: unset;
            background-color: white;
            width: 1000px;
            z-index: -1;
        }
    }
    &:before {
        content: " ";
        background: var(--bg);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-repeat: no-repeat;
        background-position-x: right;
        opacity: 0.08;
        z-index:-1;
    }
}

.sbtab {
    &-services {
        &-inner {
            flex-wrap: wrap;
        }
    }
    .chevron {
        position:relative;
        &:before {
            transition: all 0.25s ease-out;
            content:"\e901";
            font-family: "icomoon";
            color: #00aab1;
            font-size: 30px;
            position: absolute;
            transform: rotate(90deg);
            left: -25px;
        }
    }
    &-shape {
        height: 10px;
        width: 58px;
        background-color: rgba(19, 41, 61, 1);
        top: unset;
    }
}

.sbtab {
    &-tab {
        border-bottom: 1px solid rgba(19, 41, 61, 0.25);
        &-title {
            cursor: pointer;
            padding: 20px 0;
            justify-content: space-between;
            flex-wrap: nowrap;
        }
        &-content {
            max-height:1000px;
            transition: all 0.25s ease-out;
            overflow: hidden;
        }
        img  {
            height: 25px;
            width: 25px;
        }
        .chevron {
            user-select: none;
            padding-right: 20px;
            img {
                transition: all 0.15s ease-out;
            }
        }
        p {
            font-weight: bold;
            margin-top: 0;
        }
        &:not(.open) {
            .sbtab-tab-content {
                max-height: 0px;
            }
            .chevron img {
                transform: rotate(180deg);
            }
        }
    }
    &-tabs {
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: column;
        // .col {
        //     @include from_until(1024) {
        //         flex: 0 0 calc(50% - 30px);
        //         max-width: calc(50% - 30px);
        //     }
        // }
    }
    &-body {
        margin-bottom: 30px;
        padding-bottom: 50px;
        border-bottom:1px solid rgba(19, 41, 61, 0.5);
    }
}
.sbtab-holder {
    align-items: baseline;
}
.sbtab-tabs {
    @include from_until(1024) {
        margin:10px;
    }
}
.sbtab-tab {
    &.open {
        .chevron {
            &:before {
                transform: rotate(270deg);
            }
        }
        h5 {
            color: rgba(0, 170, 177, 1);
        }
    }
    &-content {
        p {
            font-weight: 300;
        }
    }
}