{% if is_preview %}
<div class="preview" data-block-name="service-block-three">
<style>
    .preview-wrapper {
        background-color:#1c2a36;
    }
    .dynamic-hero {
        min-height:30vh;
    }
    img {
        max-width: 100%;
    }
    .block-editor-inner-blocks {
        border:2px solid rgba(30, 162, 224, 0.5);
    }
</style>
{% endif %}

<style>{% htmlcompress %}{{compiled_css}}{{fields.custom_scripts.css}}{% endhtmlcompress %}</style>

<section class="block sbtab pos-r" data-block-name="service-block-three"  style="--bg:url('{{local_path}}/bg-one.png')">
    <div class="container">
        <div class="sbtab-content pos-r">
            <div class="sbtab-heading">
                <h2>{{fields.title}}</h2>
            </div>
            <div class="sbtab-body">
                {{fields.content}}
            </div>
            <div class="sbtab-shape pos-a"></div>
        </div>
        <div class="sbtab-services">
            <div class="sbtab-shape-two"></div>
            <div class="sbtab-holder cls">
            {% if fields.services|length is even %}
                <ul class="rl sbtab-tabs cls">
                {% for tab in fields.services|slice(0, (fields.services|length / 2)) %}
                    <li class="col sbtab-tab">
                        <div class="sbtab-tab-title row" onclick="toggleTab(this);">
                            <h5 class="title">{{tab.title}}</h5>
                            <div class="chevron"></div>
                        </div>
                        <div class="sbtab-tab-content"><p>{{tab.content}}</p></div>
                    </li>
                {% endfor %}
                </ul>
                <ul class="rl sbtab-tabs cls">
                {% for tab in fields.services|slice((fields.services|length / 2),) %}
                    <li class="col sbtab-tab">
                        <div class="sbtab-tab-title row" onclick="toggleTab(this);">
                            <h5 class="title">{{tab.title}}</h5>
                            <div class="chevron"></div>
                        </div>
                        <div class="sbtab-tab-content"><p>{{tab.content}}</p></div>
                    </li>
                {% endfor %}
                </ul>
            {% else %}
                <ul class="rl sbtab-tabs cls">
                {% for tab in fields.services|slice(0, (fields.services|length / 2)|round) %}
                    <li class="col sbtab-tab">
                        <div class="sbtab-tab-title row" onclick="toggleTab(this);">
                            <h5 class="title">{{tab.title}}</h5>
                            <div class="chevron"></div>
                        </div>
                        <div class="sbtab-tab-content"><p>{{tab.content}}</p></div>
                    </li>
                {% endfor %}
                </ul>
                <ul class="rl sbtab-tabs cls">
                {% for tab in fields.services|slice((fields.services|length / 2)|round,) %}
                    <li class="col sbtab-tab">
                        <div class="sbtab-tab-title row" onclick="toggleTab(this);">
                            <h5 class="title">{{tab.title}}</h5>
                            <div class="chevron"></div>
                        </div>
                        <div class="sbtab-tab-content"><p>{{tab.content}}</p></div>
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
            </div>
        </div>
    </div>
    <div class="sbtab-bg pos-a hide-mobile"></div>
</section>
<script>{{fields.custom_scripts.javascript}}</script>
{% if is_preview %}
</div>
{% endif %}
<script>

function toggleTab(element) {
    if(element.parentNode.classList.contains('open')) {
        element.parentNode.classList.remove('open');
    } else {
    document.querySelectorAll('.sbtab-tab').forEach((el) => {el.classList.remove('open');})
    element.parentNode.classList.add('open');
    }
}
</script>